data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-2403-000101/1/eahv-iv-2403-000101-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Lars Steffen (AWK Group AG) -->
<!-- 
		2018-04-26 - v 0.01 - Erster Entwurf
		2018-04-27 - v 0.02 - Überarbeitung
		2018-04-30 - v 0.80 - Version zur Review durch BSV
		2018-05-04 - v 0.90 - Version zur Vernehmlassung bei der ZAS und LEONARDO Productions AG
		2018-05-25 - v 1.00 - Publizierte Version
 -->
<xs:schema xmlns="http://www.eahv-iv.ch/xmlns/eahv-iv-2403-000101/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eahv-iv-common="http://www.eahv-iv.ch/xmlns/eahv-iv-common/4" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:eahv-iv-2403-000101="http://www.eahv-iv.ch/xmlns/eahv-iv-2403-000101/1" targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-2403-000101/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Anfrage Vertigo</xs:documentation>
		<xs:documentation xml:lang="fr">Demande Vertigo</xs:documentation>
		<xs:documentation xml:lang="it">Domanda Vertigo</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.eahv-iv.ch/xmlns/eahv-iv-common/4"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<!--AHVN13-Input-->
	<xs:simpleType name="vnInputType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(756)\.[0-9]{4}\.[0-9]{4}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--eCH-0058 Types-->
	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="2403"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:actionType">
						<xs:minLength value="1"/>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation xml:lang="de">Anfrage</xs:documentation>
								<xs:documentation xml:lang="fr">Demande</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType"/>
			<xs:element name="extension" type="eahv-iv-2403-000101:extensionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extensionType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Elemente, welche im eCH-0058/4-Standard nicht vorgesehen sind, werden im Attribut „extension“ geführt.</xs:documentation>
			<xs:documentation xml:lang="fr">Les éléments qui ne sont pas prévus dans le standard eCH-0058/4 sont définis dans l'élément 'extension'</xs:documentation>
			<xs:documentation xml:lang="it">Gli elementi che non sono incluse nello standard eCH-0058/4 sono definiti in 'estensione' l'elemento</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactInformation" type="eahv-iv-common:contactInformationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
			<xs:documentation xml:lang="fr">Attributs métier de l'annonce</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vnInput" type="vnInputType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation>root element for pension query message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="eahv-iv-2403-000101:headerType"/>
				<xs:element name="content" type="eahv-iv-2403-000101:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
