data/schemas/SM-Client-Atos/xsd_xslt/bfs-5051-000104/1/bfs-5051-000104-1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eCH-0046="http://www.ech.ch/xmlns/eCH-0046/2"
	xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/3"
	xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/1"
	xmlns:bfs-5051-000104="http://www.bfs.admin.ch/xmlns/bfs-5051-000104/1"
	targetNamespace="http://www.bfs.admin.ch/xmlns/bfs-5051-000104/1"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xs:annotation>
		<xs:documentation xml:lang="de">Schuldenruf</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0046/2"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/3" />
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097/1" />
		
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von eCH-0058:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
			<xs:element name="declarationLocalReference" type="bfs-5051-000104:declarationLocalReferenceType" minOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="5051"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000104"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" minOccurs="0" maxOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="uniqueIdBusinessCase" type="eCH-0058:uniqueIdBusinessCaseType"/>
						<xs:element name="totalNumberOfPackages" type="eCH-0058:totalNumberOfPackagesType"/>
						<xs:element name="numberOfActualPackage" type="eCH-0058:numberOfActualPackageType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="object" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0"/>
			<xs:element name="messageDate" type="xs:dateTime"/>
			<xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0"/>
			<xs:element name="eventDate" type="xs:dateTime" minOccurs="0" maxOccurs="0" />
			<xs:element name="modificationDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="testData" type="xs:anyType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="noticeToObligeesType" >
		<xs:sequence>
			<xs:element name="NUM_ID" type="xs:decimal" />
			<xs:element name="DOC_ID" type="xs:decimal" />
			<xs:element name="URL" type="xs:string" />
			<xs:element name="PUB_DOC_TM" type="xs:date" />
			<xs:element name="FOSC_NR" type="xs:decimal" />
			<xs:element name="kindOfNoticeToObligees">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SR01">
							<xs:annotation>
								<xs:documentation xml:lang="de">Schuldenruf infolge Fusion von Genossenschaften (Art. 914 OR)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR02">
							<xs:annotation>
								<xs:documentation xml:lang="de">Schuldenruf infolge Fusion von Aktiengesellschaften (Art. 748 und 749 OR)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR03">
							<xs:annotation>
								<xs:documentation xml:lang="de">Schuldenruf infolge Fusion einer Aktiengesellschaft mit einer Kommanditaktiengesellschaft (Art. 750 OR)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR04">
							<xs:annotation>
								<xs:documentation xml:lang="de">Schuldenruf infolge Fusion (Diverse)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR05">
							<xs:annotation>
								<xs:documentation xml:lang="de">Internationale Fusion und Aufforderung an die Gläubiger</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR06">
							<xs:annotation>
								<xs:documentation xml:lang="de">Liquidations-Schuldenruf einer Aktiengesellschaft (Art. 742 OR)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR07">
							<xs:annotation>
								<xs:documentation xml:lang="de">Liquidations-Schuldenruf einer Gesellschaft mit beschränkter Haftung (Art. 823 OR i.V.m. Art. 742 OR)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR08">
							<xs:annotation>
								<xs:documentation xml:lang="de">Liquidations-Schuldenruf einer Genossenschaft (Art. 913 OR i.V.m. Art. 742 OR)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR09">
							<xs:annotation>
								<xs:documentation xml:lang="de">Liquidations-Schuldenruf eines Vereins (Art. 58 ZGB)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR10">
							<xs:annotation>
								<xs:documentation xml:lang="de">Liquidations-Schuldenruf einer Stiftung (Art. 58 ZGB)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR11">
							<xs:annotation>
								<xs:documentation xml:lang="de">Liquidations-Schuldenruf einer Kollektivgesellschaft</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR12">
							<xs:annotation>
								<xs:documentation xml:lang="de">Liquidations-Schuldenruf einer Kommanditgesellschaft</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR13">
							<xs:annotation>
								<xs:documentation xml:lang="de">Liquidations-Schuldenruf einer Kommanditaktiengesellschaft (Art. 770 OR i.V.m. Art. 742 OR)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR14">
							<xs:annotation>
								<xs:documentation xml:lang="de">Herabsetzung des Aktien- oder Partizipationskapitals und Aufforderung an die Gläubiger gemäss Art. 733 OR</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR15">
							<xs:annotation>
								<xs:documentation xml:lang="de">Herabsetzung des Stammkapitals und Aufforderung an die Gläubiger gemäss Art. 788 OR i.V.m. Art. 733 ff. OR</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR16">
							<xs:annotation>
								<xs:documentation xml:lang="de">Herabsetzung des Nennwertes der Anteilscheine und Auffor-derung an die Gläubiger gemäss Art. 874 OR i.V.m. Art. 733 OR (Genossenschaft)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR17">
							<xs:annotation>
								<xs:documentation xml:lang="de">Aufhebung der Anteilscheine und Aufforderung an die Gläu-biger gemäss Art. 874 OR i.V.m. Art. 733 ff. OR (Genossen-schaft)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR18">
							<xs:annotation>
								<xs:documentation xml:lang="de">Herabsetzung des Aktienkapitals und Aufforderung an die Gläubiger gemäss Art. 770 OR i.V.M. Art. 733 OR (Komman-ditaktiengesellschaft)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR19">
							<xs:annotation>
								<xs:documentation xml:lang="de">Umwandlung einer Aktiengesellschaft in eine Gesellschaft mit beschränkter Haftung und Aufforderung an die Gläubiger gemäss Art. 824 ff. OR)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR20">
							<xs:annotation>
								<xs:documentation xml:lang="de">Sitzverlegung ins Ausland und Aufforderung an die Gläubiger gemäss Art. 163 ff. IPRG</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR22">
							<xs:annotation>
								<xs:documentation xml:lang="de">Aufforderung an die Gläubiger infolge Fusion Art. 25 FusG</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR23">
							<xs:annotation>
								<xs:documentation xml:lang="de">Aufforderung an die Gläubiger infolge Fusion Art. 96 FusG</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR24">
							<xs:annotation>
								<xs:documentation xml:lang="de">Aufforderung an die Gläubiger infolge Spaltung Art. 45f FusG</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR25">
							<xs:annotation>
								<xs:documentation xml:lang="de">Aufforderung an die Gläubiger infolge Fusion von der Schweiz ins Ausland (Art. 163b IPRG i.V.m. Art. 45 ff. FusG)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SR26">
							<xs:annotation>
								<xs:documentation xml:lang="de">Aufforderung an die Gläubiger infolge Verlegung der Gesell-schaft von der Schweiz ins Ausland (Art. 163 IPRG i.V.m. Art. 45f. FusG)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DE" type="xs:string"/>
			<xs:element name="FR" type="xs:string"/>
			<xs:element name="IT" type="xs:string"/>
			<xs:element name="LANG_CD" type="xs:string"/>
			<xs:element name="CANTON_CD" type="xs:string" minOccurs="0"/>
			<xs:element name="ORGANISATION_TX" type="xs:string"/>
			<xs:element name="POSTAL_CODE_TX" type="xs:string"/>
			<xs:element name="TOWN_TX" type="xs:string"/>
			<xs:element name="SR_RIGHTS_DELAY_UNIT" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DAY">
							<xs:annotation>
								<xs:documentation xml:lang="de">Tag</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="MONTH">
							<xs:annotation>
								<xs:documentation xml:lang="de">Monat</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="WEEK">
							<xs:annotation>
								<xs:documentation xml:lang="de">Woche</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="YEAR">
							<xs:annotation>
								<xs:documentation xml:lang="de">Jahr</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SR_RIGHTS_DELAY" type="xs:decimal" minOccurs="0"/>
			<xs:element name="SR_FIRMS_KIND" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ABSORBING">
							<xs:annotation>
								<xs:documentation xml:lang="de">übernehmend</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="TRANSFERRING">
							<xs:annotation>
								<xs:documentation xml:lang="de">übertragend</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SR_FIRMS_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="organisationName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="FIRM_LEG_FORM_ID" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FIRM_FORM_DESCR" type="xs:string" minOccurs="0"/>
			<xs:element name="FIRM_REG_OFFICE_UN_ADD" type="xs:string" minOccurs="0"/>
			<xs:element name="firmCompensationOffice" type="xs:string" minOccurs="0"/>
			<xs:element name="firmAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="firmUid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="firmEntId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="firmBurNr" type="xs:decimal" minOccurs="0"/>
			<xs:element name="organisationClosedName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="FIRM_CLOSED_LEG_FORM_ID" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FIRM_CLOSED_FORM_DESCR" type="xs:string" minOccurs="0"/>
			<xs:element name="FIRM_CLOSED_REG_OFFICE_UN_ADD" type="xs:string" minOccurs="0"/>
			<xs:element name="firmClosedCompensationOffice" type="xs:string" minOccurs="0"/>
			<xs:element name="firmClosedAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="firmClosedUid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="firmClosedEntId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="firmClosedBurNr" type="xs:decimal" minOccurs="0"/>
			<xs:element name="organisationCreatedName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="FIRM_CREATED_LEG_FORM_ID" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FIRM_CREATED_FORM_DESCR" type="xs:string" minOccurs="0"/>
			<xs:element name="FIRM_CREATED_REG_OFFICE_UN_ADD" type="xs:string" minOccurs="0"/>
			<xs:element name="firmCreatedCompensationOffice" type="xs:string" minOccurs="0"/>
			<xs:element name="firmCreatedAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="firmCreatedUid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="firmCreatedEntId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="firmCreatedBurNr" type="xs:decimal" minOccurs="0"/>
			<xs:element name="organisationBeforeName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="FIRM_BEFORE_LEG_FORM_ID" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FIRM_BEFORE_FORM_DESCR" type="xs:string" minOccurs="0"/>
			<xs:element name="FIRM_BEFORE_REG_OFFICE_UN_ADD" type="xs:string" minOccurs="0"/>
			<xs:element name="firmBeforeCompensationOffice" type="xs:string" minOccurs="0"/>
			<xs:element name="firmBeforeAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="firmBeforeUid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="firmBeforeEntId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="firmBeforeBurNr" type="xs:decimal" minOccurs="0"/>
			<xs:element name="organisationAfterName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="FIRM_AFTER_LEG_FORM_ID" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FIRM_AFTER_FORM_DESCR" type="xs:string" minOccurs="0"/>
			<xs:element name="FIRM_AFTER_REG_OFFICE_UN_ADD" type="xs:string" minOccurs="0"/>
			<xs:element name="firmAfterCompensationOffice" type="xs:string" minOccurs="0"/>
			<xs:element name="firmAfterAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="firmAfterUid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="firmAfterEntId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="firmAfterBurNr" type="xs:decimal" minOccurs="0"/>
			<xs:element name="SR_MERGER_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SR_MERGER_PRIOR_NUMBER" type="xs:decimal" minOccurs="0"/>
			<xs:element name="SR_MERGER_PRIOR_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SR_MERGER_PRIOR_PAGE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="LIQUIDATION_LIQ_BY" type="xs:string" minOccurs="0"/>
			<xs:element name="LIQUIDATION_LIQ_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="RIGHTS_END_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="RIGHTS_END_TX" type="xs:string" minOccurs="0"/>
			<xs:element name="RIGHTS_PLACE_NAME" type="xs:string" />
			<xs:element name="RIGHTS_PLACE_STREET" type="xs:string" />
			<xs:element name="RIGHTS_PLACE_ZIPCODE" type="xs:string" />
			<xs:element name="RIGHTS_PLACE_CITY" type="xs:string" />
			<xs:element name="CLOSE_BY" type="xs:string" minOccurs="0"/>
			<xs:element name="CLOSE_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SR_BOND_TYPE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BOND">
							<xs:annotation>
								<xs:documentation xml:lang="de">Aktienkapital</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PART">
							<xs:annotation>
								<xs:documentation xml:lang="de">Partizipationskapital</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BOND_PART_OLD_VALUE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="BOND_PART_OLD_VALUE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="BOND_PART_NEW_VALUE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="BOND_PART_NEW_VALUE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="SR_RED_BY" type="xs:string" minOccurs="0"/>
			<xs:element name="SR_RED_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SR19_TRANS_BY" type="xs:string" minOccurs="0"/>
			<xs:element name="SR19_TRANS_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SR20_TFR_BY" type="xs:string" minOccurs="0"/>
			<xs:element name="SR20_TFR_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SR24_SPLITTING_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SR26_FOREIGN_LAW_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SR26_FIRM_BEFORE_TRADE_REG" type="xs:string" minOccurs="0"/>
			<xs:element name="SR26_FIRM_AFTER_TRADE_REG" type="xs:string" minOccurs="0"/>
			<xs:element name="NOTICE" type="xs:string" minOccurs="0"/>
			<xs:element name="REMARK" type="xs:string" minOccurs="0"/>
			<xs:element name="SUBMITION_ZIPCODE" type="xs:string" />
			<xs:element name="SUBMITION_CITY" type="xs:string" />
			<xs:element name="SUBMITION_SUBMITOR" type="xs:string" />
			<xs:element name="SR_FREETEXT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="declarationLocalReferenceType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="department" type="xs:string" minOccurs="0"/>
			<xs:element name="phone" type="eCH-0046:phoneNumberType"/>
			<xs:element name="email" type="eCH-0046:emailAddressType"/>
			<xs:element name="other" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Schuldenruf" type="bfs-5051-000104:noticeToObligeesType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="bfs-5051-000104:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="bfs-5051-000104:headerType" />
				<xs:element name="content" type="bfs-5051-000104:contentType" />
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
