data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-2416-000822/2/eahv-iv-2416-000822-2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5"
           xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4"
           xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/6"
           xmlns:eahv-iv-2416-000822="http://www.eahv-iv.ch/xmlns/eahv-iv-2416-000822/2"
           targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-2416-000822/2"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/5"
               schemaLocation="eCH-0058-5-0.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/6"
               schemaLocation="eCH-0007-6-0.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4"
               schemaLocation="eCH-0044-4-1.xsd"/>
    <xs:annotation>
        <xs:documentation xml:lang="de">EL-IPV-Datenaustausch: Fullsetabgleich Antwort</xs:documentation>
        <xs:documentation xml:lang="en">EL-IPV data exchange: Full set response</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="dateType">
        <xs:restriction base="xs:date">
            <xs:pattern value="[^:Z]*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="premiumType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:pattern value="[^+-]*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ipvPeriodsType">
        <xs:sequence>
            <xs:element name="ipvPeriod" type="eahv-iv-2416-000822:ipvPeriodType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="premiumInsuredPersonType">
        <xs:sequence>
            <xs:element name="ipvRecipient" type="eahv-iv-2416-000822:ipvRecipientType" minOccurs="1" maxOccurs="1" />
            <xs:element name="elCases" type="eahv-iv-2416-000822:elCasesType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="elCasesType">
        <xs:sequence>
            <xs:element name="elCase" type="eahv-iv-2416-000822:elCaseType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="elCaseType">
        <xs:sequence>
            <xs:element name="primaryElRecipient" type="eahv-iv-2416-000822:personType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ipvPeriods" type="eahv-iv-2416-000822:ipvPeriodsType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ipvRecipientType">
        <xs:complexContent>
            <xs:extension base="eahv-iv-2416-000822:personType">
                <xs:sequence>
                    <xs:element name="officialName" type="eCH-0044:baseNameType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="sex" type="eCH-0044:sexType" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ipvPeriodType">
        <xs:sequence>
            <xs:element name="periodStartDate" type="eahv-iv-2416-000822:dateType" />
            <xs:element name="periodEndDate" type="eahv-iv-2416-000822:dateType" />
            <xs:element name="canton" type="eCH-0007:cantonFlAbbreviationType" />
            <xs:element name="premiumRegion" type="eahv-iv-2416-000822:premiumRegionType" />
            <xs:element name="premium" type="eahv-iv-2416-000822:premiumType">
                <xs:annotation>
                    <xs:documentation xml:lang="de">Monatliche Prämie in Rappen</xs:documentation>
                    <xs:documentation xml:lang="en">Monthly premium in Rappen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ipvEligible" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        true: Der Empfänger hat Anspruch auf EL.
                        false: Der Empfänger hat keinen Anspruch auf EL.
                    </xs:documentation>
                    <xs:documentation xml:lang="en">
                        true: The receipient is eligible for EL.
                        false: The receipient is not eligible for EL.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="premiumRegionType">
        <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="headerType">
        <xs:sequence>
            <xs:element name="senderId" type="eCH-0058:participantIdType"/>
            <xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
            <xs:element name="recipientId" type="eCH-0058:participantIdType"/>
            <xs:element name="messageId" type="eCH-0058:messageIdType"/>
            <xs:element name="messageType" type="eCH-0058:messageTypeType" fixed="2416"/>
            <xs:element name="subMessageType" type="eCH-0058:subMessageTypeType" fixed="000822"/>
            <xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
            <xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0"/>
            <xs:element name="messageDate" type="eCH-0058:messageDateType"/>
            <xs:element name="action" type="eCH-0058:actionType" fixed="6"/>
            <xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="vn" type="eCH-0044:vnType">
                <xs:annotation>
                    <xs:documentation xml:lang="de"> Schweizerische, 13-stellige Versichertennummer (756XXXXXXXXXY)</xs:documentation>
                    <xs:documentation xml:lang="en"> Swiss national insurance number, 13 characters (756XXXXXXXXXY)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dateOfBirth" type="eahv-iv-2416-000822:dateType">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contentType">
        <xs:sequence>
            <xs:element name="premiumInsuredPerson" type="eahv-iv-2416-000822:premiumInsuredPersonType"  minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" type="eahv-iv-2416-000822:headerType"/>
                <xs:element name="content" type="eahv-iv-2416-000822:contentType"/>
            </xs:sequence>
            <xs:attribute name="minorVersion" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
