data/schemas/SM-Client-Atos/xsd_xslt/bfs-5051-000103/1/bfs-5051-000103-1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/2"
	xmlns:eCH-0046="http://www.ech.ch/xmlns/eCH-0046/2"
	xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/3"
	xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/1"
	xmlns:bfs-5051-000103="http://www.bfs.admin.ch/xmlns/bfs-5051-000103/1"
	targetNamespace="http://www.bfs.admin.ch/xmlns/bfs-5051-000103/1"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xs:annotation>
		<xs:documentation xml:lang="de">Schuldbetreibung</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/2" />
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0046/2"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/3" />
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097/1" />
		
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von eCH-0058:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
			<xs:element name="declarationLocalReference" type="bfs-5051-000103:declarationLocalReferenceType" minOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="5051"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000103"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" minOccurs="0" maxOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="uniqueIdBusinessCase" type="eCH-0058:uniqueIdBusinessCaseType"/>
						<xs:element name="totalNumberOfPackages" type="eCH-0058:totalNumberOfPackagesType"/>
						<xs:element name="numberOfActualPackage" type="eCH-0058:numberOfActualPackageType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="object" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0"/>
			<xs:element name="messageDate" type="xs:dateTime"/>
			<xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0"/>
			<xs:element name="eventDate" type="xs:dateTime" minOccurs="0" maxOccurs="0" />
			<xs:element name="modificationDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="testData" type="xs:anyType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="debtCollectionType" >
		<xs:sequence>
			<xs:element name="NUM_ID" type="xs:decimal" />
			<xs:element name="DOC_ID" type="xs:decimal" />
			<xs:element name="URL" type="xs:string" />
			<xs:element name="PUB_DOC_TM" type="xs:date" />
			<xs:element name="FOSC_NR" type="xs:decimal" />
			<xs:element name="kindOfDebtCollection">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SB01">
							<xs:annotation>
								<xs:documentation xml:lang="de">Betreibungsamtliche Grundstücksteigerung</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SB02">
							<xs:annotation>
								<xs:documentation xml:lang="de">Zahlungsbefehle</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SB03">
							<xs:annotation>
								<xs:documentation xml:lang="de">Arrestbefehle und –urkunden</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SB04">
							<xs:annotation>
								<xs:documentation xml:lang="de">Pfändungsanzeigen und –urkunden</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SB05">
							<xs:annotation>
								<xs:documentation xml:lang="de">Verschiedenes</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DE" type="xs:string" />
			<xs:element name="FR" type="xs:string" />
			<xs:element name="IT" type="xs:string" />
			<xs:element name="LANG_CD" type="xs:string" />
			<xs:element name="CANTON_CD" type="xs:string" />
			<xs:element name="ORGANISATION_TX" type="xs:string" />
			<xs:element name="POSTAL_CODE_TX" type="xs:string" />
			<xs:element name="TOWN_TX" type="xs:string" />
			<xs:element name="SB_PAY_DEMAND_NB" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_PAY_DEMAND_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="officialName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="WORK" type="xs:string" minOccurs="0"/>
			<xs:element name="BIRTH_PLACE" type="xs:string" minOccurs="0"/>
			<xs:element name="BIRTH_COUNTRY" type="xs:string" minOccurs="0"/>
			<xs:element name="BIRTH_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="DEATH_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="organisationName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="STREET" type="xs:string" minOccurs="0"/>
			<xs:element name="ZIPCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="CITY" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
			<xs:element name="compensationOffice" type="xs:string" minOccurs="0"/>
			<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="entId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="burNr" type="xs:decimal" minOccurs="0"/>
			<xs:element name="SB_CREDITOR_LAST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_CREDITOR_FIRST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_CREDITOR_STREET" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_CREDITOR_ZIPCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_CREDITOR_CITY" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_REPRESENT_LAST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_REPRESENT_FIRST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_REPRESENT_STREET" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_REPRESENT_ZIPCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_REPRESENT_CITY" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_SB_CLAIM_DEBT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_SB_CLAIM_DEBT" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_SB_CLAIM_DEBT_INT" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_SB_CLAIM_DEBT_INT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_SB_ADDITIONAL_COSTS" type="xs:string" minOccurs="0"/>
			<xs:element name="SB_SB_PUB_COST_INCLUDED" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NO">
							<xs:annotation>
								<xs:documentation xml:lang="de">Nein</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="YES">
							<xs:annotation>
								<xs:documentation xml:lang="de">Ja</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SB_SB_CLAIM_REASON" type="xs:string" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_ZIPCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_CITY" type="xs:string" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_LOC" type="xs:string" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_COND_START_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_COND_END_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_COND_CITY" type="xs:string" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_COND_DESCR" type="xs:string" minOccurs="0"/>
			<xs:element name="SB01_AUCTION_SUBJECT" type="xs:string" minOccurs="0"/>
			<xs:element name="SB01_SB_END_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SB01_SB_END_DAY" type="xs:decimal" minOccurs="0"/>
			<xs:element name="SB02_SB_DEBT_TYPE_VALUE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DEADPLEDGE">
							<xs:annotation>
								<xs:documentation xml:lang="de">Betreibung auf Verwertung eines Faustpfandes</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PROCESS">
							<xs:annotation>
								<xs:documentation xml:lang="de">ordentliches Verfahren</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="REAL_SECURITY">
							<xs:annotation>
								<xs:documentation xml:lang="de">Betreibung auf Verwertung eines Grundpfandes</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BILL">
							<xs:annotation>
								<xs:documentation xml:lang="de">Wechselbetreibungn</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SB03_SB_ARREST_ORDER_NB" type="xs:string" minOccurs="0"/>
			<xs:element name="SB03_SB_ARREST_ORDER_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SB03_SB_CLAIM_DOCUMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="SB03_SB_ARREST_OBJECTS" type="xs:string" minOccurs="0"/>
			<xs:element name="SB03_SB_ARREST_AUTHORITY" type="xs:string" minOccurs="0"/>
			<xs:element name="SB03_SB_ARREST_DOCUMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="SB04_SB_DEPT_ENFORCEMENT_NB" type="xs:string" minOccurs="0"/>
			<xs:element name="SB04_SB_DEPT_ENFORCEMENT_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="SB04_SB_CLAIMS" type="xs:string" minOccurs="0"/>
			<xs:element name="NOTICE" type="xs:string" minOccurs="0"/>
			<xs:element name="REMARK" type="xs:string" minOccurs="0"/>
			<xs:element name="SUBMITION_ZIPCODE" type="xs:string" />
			<xs:element name="SUBMITION_CITY" type="xs:string" />
			<xs:element name="SUBMITION_SUBMITOR" type="xs:string"/>
			<xs:element name="SB_FREETEXT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="declarationLocalReferenceType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="department" type="xs:string" minOccurs="0"/>
			<xs:element name="phone" type="eCH-0046:phoneNumberType"/>
			<xs:element name="email" type="eCH-0046:emailAddressType"/>
			<xs:element name="other" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Schuldbetreibung" type="bfs-5051-000103:debtCollectionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="bfs-5051-000103:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="bfs-5051-000103:headerType" />
				<xs:element name="content" type="bfs-5051-000103:contentType" />
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
