data/schemas/SM-Client-Atos/xsd_xslt/ssk-3002-000301/3/ssk-3002-000301-3-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/2" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097-f/2" xmlns:ssk-common="http://www.steuerkonferenz.ch/xmlns/ssk-common/1" xmlns:ssk-3002-000301="http://www.steuerkonferenz.ch/xmlns/ssk-3002-000301/3" targetNamespace="http://www.steuerkonferenz.ch/xmlns/ssk-3002-000301/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xs:annotation>
		<xs:documentation xml:lang="de">Meldung MWST-Buchprüfung ESTV -> KSTA/KSTV</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/3"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/2"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097-f/2"/>
	<xs:import namespace="http://www.steuerkonferenz.ch/xmlns/ssk-common/1"/>
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von ssk-common:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
			<xs:element name="declarationLocalReference" type="ssk-common:declarationLocalReferenceType" minOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Die referenceMessageId-muss bei Meldungen mit action=3 (Widerruf) und action=4 (Korrektur) mit der messageId der zu widerru-fenden resp. korrigierenden Meldung gefüllt werden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ourBusinessReferenceID" type="eCH-0058:businessReferenceIdType"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="3002"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000301"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="object" type="eCH-0097:organisationIdentificationType"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0"/>
			<xs:element name="messageDate" type="xs:dateTime"/>
			<xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0"/>
			<xs:element name="eventDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="ssk-3002-000301:attachmentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Es gibt ein Pflichtattachment: Details zur MWST-Buchprüfung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="testData" type="xs:anyType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
			<xs:element name="messagePriority" type="ssk-common:messagePriorityType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventPeriod" type="xs:gYear" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attachmentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Hilfstyp zur Beschreibung von Message Attachments. Abgeleitet von ssk-common:attachmentType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="ssk-common:attachmentTitleType"/>
			<xs:element name="documentDate" type="ssk-common:documentDateType" minOccurs="0"/>
			<xs:element name="leadingDocument" type="ssk-common:leadingDocumentType"/>
			<xs:element name="sortOrder" type="ssk-common:sortOrderType"/>
			<xs:element name="documentFormat">
				<xs:simpleType>
					<xs:restriction base="ssk-common:documentFormatType">
						<xs:enumeration value="application/pdf"/>
						<xs:enumeration value="image/tiff"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="documentType" type="xs:anyType" minOccurs="0"/>
			<xs:element name="file" type="ssk-common:attachmentFileType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organisationIdentification" type="eCH-0097:organisationIdentificationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Rechtsform der Organisation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="organisationDetails" type="eCH-0010:organisationMailAddressType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Angaben zur Institution, die die Meldung erstellt hat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="controlPeriodStart" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Anfang kontrollierte Periode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="controlPeriodEnd" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ende kontrollierte Periode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="results" type="ssk-3002-000301:yesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Befunde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kommentarfeld zur freien Verfügung</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="yesNoType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Hilfstyp für das results Element</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nein</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ja</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ssk-3002-000301:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="ssk-3002-000301:headerType"/>
				<xs:element name="content" type="ssk-3002-000301:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
