data/schemas/SM-Client-Atos/xsd_xslt/eCH-0116/2/eCH-0116-2-0f.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) von Martin Stingelin (Stingelin Informatik GmbH) bearbeitet -->
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Martin Stingelin (Stingelin Informatik GmbH) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by BITUSER (Bundesamt für Informatik und Telekommunikation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097-f/2" xmlns:eCH-0098="http://www.ech.ch/xmlns/eCH-0098-f/3" xmlns:eCH-0108="http://www.ech.ch/xmlns/eCH-0108-f/3" xmlns:eCH-0116="http://www.ech.ch/xmlns/eCH-0116-f/2" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007-f/6" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5" targetNamespace="http://www.ech.ch/xmlns/eCH-0116-f/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:annotation>
		<xs:documentation>Ausgabedatum: 12.09.2014</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097-f/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0097-f/2/eCH-0097-2-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0098-f/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0098-f/3/eCH-0098-3-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0108-f/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0108-f/3/eCH-0108-3-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007-f/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0007-f/6/eCH-0007-6-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0058/5/eCH-0058-5-0.xsd"/>
	<xs:simpleType name="eventTypesType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numberOfOrganisationsType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="uidInfoAboMessageTypeType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="infoAboRegistrationTypeType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="reportingRegister">
		<xs:complexContent>
			<xs:extension base="eCH-0097:uidStructureType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="eventFederalRegisterBaseDelivery">
		<xs:sequence minOccurs="0">
			<xs:element name="reportingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="organisationRegisterOnly" type="eCH-0108:organisationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="numberOfOrganisations" type="eCH-0116:numberOfOrganisationsType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationSearchCriteria">
		<xs:sequence minOccurs="0">
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="OtherOrganisationId" type="eCH-0097:namedOrganisationIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="organisationName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="organisationAdditionalName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="nogaCode" type="eCH-0098:nogaCodeType" minOccurs="0"/>
			<xs:element name="foundation" type="eCH-0098:foundationType" minOccurs="0"/>
			<xs:element name="liquidation" type="eCH-0098:liquidationType" minOccurs="0"/>
			<xs:element name="languageOfCorrespondance" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="eCH-0098:languageType">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="uidregInformation" type="eCH-0108:uidregInformationType" minOccurs="0"/>
			<xs:element name="commercialRegisterInformation" type="eCH-0108:commercialRegisterInformationType" minOccurs="0"/>
			<xs:element name="vatRegisterInformation" type="eCH-0108:vatRegisterInformationType" minOccurs="0"/>
			<xs:element name="organisationMunicipalityID" type="eCH-0007:municipalityIdType" minOccurs="0"/>
			<xs:element name="cantonAbbreviationMainAddress" type="eCH-0007:cantonAbbreviationType" minOccurs="0"/>
			<xs:element name="cantonAbbreviationAdditionalAddress" type="eCH-0007:cantonAbbreviationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventRegisterRequest">
		<xs:sequence minOccurs="0">
			<xs:element name="requestingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="searchCriteria" type="eCH-0116:organisationSearchCriteria" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventRequestNewOrganisation">
		<xs:sequence minOccurs="0">
			<xs:element name="requestingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="registerOrganisationData" type="eCH-0108:organisationType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventRequestRegisterModification">
		<xs:sequence minOccurs="0">
			<xs:element name="requestingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="registerOrganisationData" type="eCH-0108:organisationType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventRequestRegisterDeletion">
		<xs:sequence minOccurs="0">
			<xs:element name="requestingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="registerOrganisationData" type="eCH-0108:organisationType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventRequestOrganisationReactivation">
		<xs:sequence minOccurs="0">
			<xs:element name="requestingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventRequestRegistration">
		<xs:sequence minOccurs="0">
			<xs:element name="requestingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="infoAboRegistrationType" type="eCH-0116:infoAboRegistrationTypeType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventRequestDeregistration">
		<xs:sequence minOccurs="0">
			<xs:element name="requestingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventInfoRegisterModification">
		<xs:sequence minOccurs="0">
			<xs:element name="reportingRegister" type="eCH-0116:reportingRegister" minOccurs="0"/>
			<xs:element name="registerOrganisationData" type="eCH-0108:organisationType" minOccurs="0"/>
			<xs:element name="uidInfoAboMessageType" type="eCH-0116:uidInfoAboMessageTypeType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="deliveryHeader" type="eCH-0058:headerType" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<!-- Meldungen UID-Stelle zu UID-Register -->
					<xs:element name="FederalRegisterBaseDelivery" type="eCH-0116:eventFederalRegisterBaseDelivery" minOccurs="0"/>
					<xs:element name="requestNewOrganisation" type="eCH-0116:eventRequestNewOrganisation" minOccurs="0"/>
					<xs:element name="requestRegisterModification" type="eCH-0116:eventRequestRegisterModification" minOccurs="0"/>
					<xs:element name="requestRegisterDeletion" type="eCH-0116:eventRequestRegisterDeletion" minOccurs="0"/>
					<xs:element name="requestOrganisationReactivation" type="eCH-0116:eventRequestOrganisationReactivation" minOccurs="0"/>
					<xs:element name="requestRegistration" type="eCH-0116:eventRequestRegistration" minOccurs="0"/>
					<xs:element name="requestDeregistration" type="eCH-0116:eventRequestDeregistration" minOccurs="0"/>
					<xs:element name="registerRequest" type="eCH-0116:eventRegisterRequest" minOccurs="0"/>
					<!-- InfoAbo: Meldungen UID-Register an UID-Stellen -->
					<xs:element name="registerModification" type="eCH-0116:eventInfoRegisterModification" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="eventReport" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="reportHeader" type="eCH-0058:headerType"/>
							<xs:element name="info" type="eCH-0058:infoType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0">
					<!-- Rückgabe des vollständigen Datensatzes wie er im UID-Register besteht -->
					<xs:element name="federalRegisterBaseDelivery" type="eCH-0116:eventFederalRegisterBaseDelivery" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
