data/schemas/SM-Client-Atos/xsd_xslt/pv-5203-000501/3/pv-5203-000501-3-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Andrea Rapanaro (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:pv-common="http://www.gdk-cds.ch/xmlns/pv-common/3" xmlns:pv-5203-000501="http://www.gdk-cds.ch/xmlns/pv-5203-000501/3" targetNamespace="http://www.gdk-cds.ch/xmlns/pv-5203-000501/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:import namespace="http://www.gdk-cds.ch/xmlns/pv-common/3"/>
	<xs:annotation>
		<xs:documentation xml:lang="de">Datenaustausch Prämienverbilligung: Verfügungsbestand</xs:documentation>
	</xs:annotation>
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ableitung von pv-common:headerType.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="declarationLocalReference" type="pv-common:declarationLocalReferenceType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0"/>
			<xs:element name="businessProcessId" type="pv-common:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="5203"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000501"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="pv-common:actionType">
						<xs:maxLength value="2"/>
						<xs:minLength value="1"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Anfrage</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pv-5203-000501:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="decreeInventoryType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Verfügungsbestand</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="inventoryDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stichtag der Erhebung des gemeldeten Verfügungsbestands</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beginDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date"/>
			<xs:element name="decreeInventoryElement" type="pv-5203-000501:decreeInventoryElementType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Verfügungen</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="decreeInventoryElementType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Verfügung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="decreeId" type="pv-common:decreeIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Referenzcode der betroffenen Verfügung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="person" type="pv-common:personType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Personenidentifikation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beginMonth" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beginn Monat (Format YYYY-MM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endMonth" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ende Monat (Format YYYY-MM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount">
				<xs:annotation>
					<xs:documentation xml:lang="de">Monatlicher PV-Betrag in CHF in Franken und Rappen auf 5 Rappen gerundet</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minExclusive value="0"/>
						<xs:fractionDigits value="2"/>
						<xs:pattern value="[0-9]*\.[0-9](0|5)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="limitation" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="de">False=keine Plafonierung; True=Plafonierung auf Tarifprämie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastBusinessProcessId" type="pv-common:businessProcessIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Letzte für die Verfügung verarbeitete Laufnummer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="decreeInventory" type="pv-5203-000501:decreeInventoryType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="pv-5203-000501:headerType"/>
				<xs:element name="content" type="pv-5203-000501:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
