data/schemas/SM-Client-Atos/xsd_xslt/ssk-3205-000001/1/ssk-3205-000001-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007-f/5" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010-f/5" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:ssk-common="http://www.steuerkonferenz.ch/xmlns/ssk-common/2" xmlns:ssk-3205-000001="http://www.steuerkonferenz.ch/xmlns/ssk-3205-000001/1" targetNamespace="http://www.steuerkonferenz.ch/xmlns/ssk-3205-000001/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">WEF Vorbezüge NP</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007-f/5"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010-f/5"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:import namespace="http://www.steuerkonferenz.ch/xmlns/ssk-common/2"/>
	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="declarationLocalReference" type="eCH-0058:declarationLocalReferenceType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessProcessId" type="eCH-0058:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="3205"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000001"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:actionType">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Neu</xs:documentation>
								<xs:documentation xml:lang="fr">Nouveau</xs:documentation>
								<xs:documentation xml:lang="it">Nuovo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation xml:lang="de">Widerruf</xs:documentation>
								<xs:documentation xml:lang="fr">Révocation</xs:documentation>
								<xs:documentation xml:lang="it">Revoca</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" fixed="false"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" fixed="true"/>
			<xs:element name="attachment" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" type="ssk-3205-000001:extensionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="insurant" type="ssk-common:naturalPersonsTaxType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Versicherungsnehmer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferredLanguage">
				<xs:annotation>
					<xs:documentation xml:lang="de">Korrespondenzsprache: Deutsch = 1, Französisch = 2, Italienisch = 3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="amountPriorDelivery" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="de">Betrag Vorbezug in Franken (Format: [Franken].[Rappen])</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datePriorDelivery" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum Vorbezug (im Format YYYY-MM-DD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountForm">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kontoart: 2. Säule = 1; Freizügigkeitskonto = 2; Anteilsschein = 3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="canton" type="eCH-0007:cantonAbbreviationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kantonskürzel des zuständigen Steueramtes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceTax">
				<xs:annotation>
					<xs:documentation xml:lang="de">Abzug Quellensteuer? Ja = 1; Nein = 0</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="organisation" type="eCH-0010:organisationMailAddressType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Angaben zur Institution, die die Meldung erstellt hat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="organisationId" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="de">Dosier Nr. des Datenlieferanten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="signatureLocation" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ort Unterschrift</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="signatureDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum Unterschrift</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="signatureName" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="de">Vorname Nachname</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalInformation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kommentarfeld zur freien Verfügung</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extensionType">
		<xs:annotation>
			<xs:documentation>Enthält das Element „contactInformation“ </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactInformation" type="ssk-common:contactInformationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="ssk-3205-000001:headerType"/>
				<xs:element name="content" type="ssk-3205-000001:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
