data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-2412-000801/1/eahv-iv-2412-000801-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5"
           xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4"
           xmlns:eahv-iv-2412-000801="http://www.eahv-iv.ch/xmlns/eahv-iv-2412-000801/1"
           targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-2412-000801/1"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/5"
               schemaLocation="eCH-0058-5-0.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4"
               schemaLocation="eCH-0044-4-1.xsd"/>
    <xs:annotation>
        <xs:documentation xml:lang="de">EL-IPV-Datenaustausch: Anfrage von effektiven Krankenkassenprämien</xs:documentation>
        <xs:documentation xml:lang="en">EL-IPV data exchange: Request actual health insurance premiums</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="dateType">
        <xs:restriction base="xs:date">
            <xs:pattern value="[^:Z]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="headerType">
        <xs:sequence>
            <xs:element name="senderId" type="eCH-0058:participantIdType"/>
            <xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
            <xs:element name="recipientId" type="eCH-0058:participantIdType"/>
            <xs:element name="messageId" type="eCH-0058:messageIdType"/>
            <xs:element name="messageType" type="eCH-0058:messageTypeType" fixed="2412"/>
            <xs:element name="subMessageType" type="eCH-0058:subMessageTypeType" fixed="000801"/>
            <xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
            <xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0"/>
            <xs:element name="messageDate" type="eCH-0058:messageDateType"/>
            <xs:element name="action" type="eCH-0058:actionType" fixed="5"/>
            <xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="premiumQueryType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Request health insurance premiums</xs:documentation>
            <xs:documentation xml:lang="de">Krankenkassenprämien Anfrage</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="year" type="xs:gYear">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Requested year</xs:documentation>
                    <xs:documentation xml:lang="de">Angefragtes Jahr</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="person" type="eahv-iv-2412-000801:personType" minOccurs="0" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="vn" type="eCH-0044:vnType">
                <xs:annotation>
                    <xs:documentation xml:lang="de"> Schweizerische, 13-stellige Versichertennummer (756XXXXXXXXXY)</xs:documentation>
                    <xs:documentation xml:lang="en"> Swiss national insurance number, 13 characters (756XXXXXXXXXY)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dateOfBirth" type="eahv-iv-2412-000801:dateType">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contentType">
        <xs:sequence>
            <xs:element name="premiumQuery" type="eahv-iv-2412-000801:premiumQueryType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" type="eahv-iv-2412-000801:headerType"/>
                <xs:element name="content" type="eahv-iv-2412-000801:contentType"/>
            </xs:sequence>
            <xs:attribute name="minorVersion" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
