data/schemas/SM-Client-Atos/xsd_xslt/pvli-5235-000201/1/pvli-5235-000201-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2022 (http://www.altova.com) by Lars Steffen (AWK Group AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:pvli-common="http://www.llv.li/xmlns/pvli-common/1" xmlns:pvli-5235-000201="http://www.llv.li/xmlns/pvli-5235-000201/1" targetNamespace="http://www.llv.li/xmlns/pvli-5235-000201/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:import namespace="http://www.llv.li/xmlns/pvli-common/1"/>
	<xs:annotation>
		<xs:documentation xml:lang="de">Datenaustausch Prämienverbilligung Liechtenstein: Stopp</xs:documentation>
	</xs:annotation>
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ableitung von pvli-common:headerType.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="declarationLocalReference" type="pvli-common:declarationLocalReferenceType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0"/>
			<xs:element name="businessProcessId" type="pvli-common:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="5235"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000201"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="pvli-common:actionType">
						<xs:maxLength value="2"/>
						<xs:minLength value="1"/>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation xml:lang="de">Anfrage</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pvli-5235-000201:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="stopType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Annullation oder Verkürzung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="decree" type="pvli-common:decreeType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Annullierte oder verkürzte Verfügung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stopMonth" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation xml:lang="de">Letzter Monat, in dem die Verfügung noch gültig sein ist. Bei Annullation vor startMonth.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="stop" type="pvli-5235-000201:stopType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="pvli-5235-000201:headerType"/>
				<xs:element name="content" type="pvli-5235-000201:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
