data/schemas/SM-Client-Atos/xsd_xslt/ssk-3202-000001/1/ssk-3202-000001-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:ssk-common="http://www.steuerkonferenz.ch/xmlns/ssk-common/2" xmlns:ssk-3202-000001="http://www.steuerkonferenz.ch/xmlns/ssk-3202-000001/1" targetNamespace="http://www.steuerkonferenz.ch/xmlns/ssk-3202-000001/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Kapitalleistungen Säule 2 und Säule 3a</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:import namespace="http://www.steuerkonferenz.ch/xmlns/ssk-common/2"/>
	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="declarationLocalReference" type="eCH-0058:declarationLocalReferenceType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessProcessId" type="eCH-0058:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="3202"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000001"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:actionType">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Neu</xs:documentation>
								<xs:documentation xml:lang="fr">Nouveau</xs:documentation>
								<xs:documentation xml:lang="it">Nuovo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation xml:lang="de">Widerruf</xs:documentation>
								<xs:documentation xml:lang="fr">Révocation</xs:documentation>
								<xs:documentation xml:lang="it">Revoca</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation xml:lang="de">Korrektur</xs:documentation>
								<xs:documentation xml:lang="fr">Correction</xs:documentation>
								<xs:documentation xml:lang="it">Correzione</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" fixed="false"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" fixed="true"/>
			<xs:element name="attachment" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" type="ssk-3202-000001:extensionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="insurer" type="ssk-common:melapInsuranceType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Versicherer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectiveInsuredParty" type="ssk-common:melapCollectiveInsuredPartyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kollektivversicherungsnehmer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="insuredPerson" type="ssk-common:melapNaturalPersonsTaxType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Versicherte Person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entitledParty" type="ssk-common:melapNaturalPersonsTaxType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Anspruchsberechtigter</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="policyNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Policen-Nummer</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pensionForm">
				<xs:annotation>
					<xs:documentation xml:lang="de">Vorsorgeform</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">2. Säule</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation xml:lang="de">Freizügigkeitskonto/-police</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation xml:lang="de">Säule 3a</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation xml:lang="de">UVG SUVA</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dateOfInsuredEvent" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum Versicherungsereignis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reasonForPayout">
				<xs:annotation>
					<xs:documentation xml:lang="de">Auszahlungsgrund</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Erlebensfall</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation xml:lang="de">Todesfall</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation xml:lang="de">Invalidität</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation xml:lang="de">Endgültiges Verlassen der Schweiz</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation xml:lang="de">Aufnahme einer selbst. Erwerbstätigkeit</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="6">
							<xs:annotation>
								<xs:documentation xml:lang="de">WEF</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="7">
							<xs:annotation>
								<xs:documentation xml:lang="de">Verteilung freier Mittel</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="capitalBenefitValue" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="de">Betrag Kapitalleistung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="belatedNoticeValue" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="de">Betrag Nachmeldung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grossOutputValue" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bruttoleistung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfPayout" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum Auszahlung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalInformation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bemerkungen</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extensionType">
		<xs:annotation>
			<xs:documentation>Enthält das Element „contactInformation“ </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactInformation" type="ssk-common:contactInformationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="ssk-3202-000001:headerType"/>
				<xs:element name="content" type="ssk-3202-000001:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
