data/schemas/SM-Client-Atos/xsd_xslt/pvli-5238-000301/1/pvli-5238-000301-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2022 (http://www.altova.com) by Lars Steffen (AWK Group AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:pvli-common="http://www.llv.li/xmlns/pvli-common/1" xmlns:pvli-5238-000301="http://www.llv.li/xmlns/pvli-5238-000301/1" targetNamespace="http://www.llv.li/xmlns/pvli-5238-000301/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:import namespace="http://www.llv.li/xmlns/pvli-common/1"/>
	<xs:annotation>
		<xs:documentation xml:lang="de">Datenaustausch Prämienverbilligung Liechtenstein: Mutation Versicherungsverhältnis</xs:documentation>
	</xs:annotation>
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ableitung von pvli-common:headerType.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="declarationLocalReference" type="pvli-common:declarationLocalReferenceType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0"/>
			<xs:element name="businessProcessId" type="pvli-common:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="5238"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000301"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="pvli-common:actionType">
						<xs:maxLength value="2"/>
						<xs:minLength value="1"/>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation xml:lang="de">Anfrage</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pvli-5238-000301:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="mutationReasonType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Grund für Mutation Versicherungsverhältnis</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wegzug ins Ausland</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tod</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wechsel des Krankenversicherers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wegzug nach unbekannt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="de">Änderung an den Versicherungsdaten</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="mutationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Mutation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="decreeId" type="pvli-common:decreeIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Referenzcode der betroffenen Verfügung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="person" type="pvli-common:personType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Personenidentifikation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mutationDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum des Wirksamwerdens der Mutation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="insuranceData" type="pvli-common:insuranceDataType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Daten des Krankenversicherers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startDelay" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kennzeichen, ob eine Verschiebung des Versicherungsbeginns vorliegt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mutationReason" type="pvli-5238-000301:mutationReasonType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Grund der Mutation (bei Beendigung des Versicherungsverhältnis beendet ist, muss der Grund angegeben werdenzwingend anzugeben)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherInsurance" type="pvli-common:bagNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Vorversicherer oder Nachversicherer anhand der BAG-Nummer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mutation" type="pvli-5238-000301:mutationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="pvli-5238-000301:headerType"/>
				<xs:element name="content" type="pvli-5238-000301:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
