data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-AFV-common/1/eahv-iv-AFV-common-1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Lars Steffen (AWK Group AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/4"
           xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/2"
           xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/4"
           xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011-f/7"
           xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/2"
           xmlns:eCH-0046="http://www.ech.ch/xmlns/eCH-0046/2"
           xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4"
           xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/1"
           xmlns:eahv-iv-common="http://www.eahv-iv.ch/xmlns/eahv-iv-common/4"
           xmlns:eahv-iv-AFV-common="http://www.eahv-iv.ch/xmlns/eahv-iv-AFV-common/1"
           targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-AFV-common/1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.1">
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
    <xs:import namespace="http://www.eahv-iv.ch/xmlns/eahv-iv-common/4"/>
    <xs:annotation>
        <xs:documentation xml:lang="de">Automatisierte Formularverarbeitung AHV/IV: Basistypen für die Meldungen
        </xs:documentation>
    </xs:annotation>
    <!-- ============================================= header type ============================================= -->
    <xs:complexType name="headerType" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="de">Ableitung von eCH-0058:headerType.
                Dieser Typ kann nicht direkt benutzt werden. Er muss für jede Meldung abgeleitet werden.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="senderId" type="eCH-0058:participantIdType"/>
            <xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
            <xs:element name="declarationLocalReference" type="eCH-0058:declarationLocalReferenceType" minOccurs="0"
                        maxOccurs="0"/>
            <xs:element name="recipientId" type="eCH-0058:participantIdType"/>
            <xs:element name="messageId" type="eCH-0058:messageIdType"/>
            <xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0"/>
            <xs:element name="businessProcessId" type="eCH-0058:businessProcessIdType"/>
            <xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType"/>
            <xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0"
                        maxOccurs="0"/>
            <xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0"
                        maxOccurs="0"/>
            <xs:element name="messageType" type="eCH-0058:messageTypeType"/>
            <xs:element name="subMessageType" type="eCH-0058:subMessageTypeType"/>
            <xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
            <xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="messageDate" type="eCH-0058:messageDateType"/>
            <xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0"/>
            <xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="action" type="eCH-0058:actionType"/>
            <xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
            <xs:element name="responseExpected" type="eCH-0058:responseExpectedType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="extension" type="eahv-iv-AFV-common:extensionType" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="phoneNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="de">Von eCH-0046 übernommen, da eCH-0046-2-0.xsd auf die non-forgiving Version
                von eCH-0010 und eCH-0044 verweist, in DA-PV aber die forgiving Version benutzt wird.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="\d{10,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="emailAddressType">
        <xs:annotation>
            <xs:documentation xml:lang="de">Von eCH-0046 übernommen, da eCH-0046-2-0.xsd auf die non-forgiving Version
                von eCH-0010 und eCH-0044 verweist, in DA-PV aber die forgiving Version benutzt wird.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern
                    value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="extensionType">
        <xs:annotation>
            <xs:documentation>Enthält das Element "contactInformation"</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contactInformation" type="eahv-iv-AFV-common:contactInformationType"/>
            <xs:element name="hasPaperAttachments" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attachmentType">
        <xs:annotation>
            <xs:documentation xml:lang="de">Anhänge</xs:documentation>
            <xs:documentation xml:lang="fr">Pièces jointes</xs:documentation>
            <xs:documentation xml:lang="it">Allegati</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" type="eahv-iv-common:attachmentTitleType"/>
            <xs:element name="documentDate" type="eahv-iv-common:documentDateType"/>
            <xs:element name="leadingDocument" type="eahv-iv-common:leadingDocumentType"/>
            <xs:element name="sortOrder" type="eahv-iv-common:sortOrderType"/>
            <xs:element name="documentFormat" type="eahv-iv-common:documentFormatType"/>
            <xs:element name="documentType" type="eahv-iv-common:documentKindType"/>
            <xs:element name="file" type="eahv-iv-common:attachmentFileType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="de">Falls zum Dokument nur eine Datei gehört, muss eine 1 bei
                        internalSortOrder eingetragen werden.
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">Dans le cas d'une seule pièce jointe, il faut mettre la valeur 1
                        pour l'élément internalSortOrder
                    </xs:documentation>
                    <xs:documentation xml:lang="it">Nel caso di un singolo allegato, è necessario inserire il valore 1
                        per il internalSortOrder elemento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contactInformationType">
        <xs:sequence>
            <xs:element name="name" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="department" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Abteilung</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="phone" type="eahv-iv-AFV-common:phoneNumberType">
                <xs:annotation>
                    <xs:documentation>Telefon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="eahv-iv-AFV-common:emailAddressType">
                <xs:annotation>
                    <xs:documentation>E-Mail-Adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="other" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Freitext</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- ============================================= content types ============================================= -->
    <xs:complexType name="elementType">
        <xs:sequence>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="value">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="4000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="elementsType">
        <xs:sequence>
            <xs:element name="element" type="eahv-iv-AFV-common:elementType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="repeatedElementType">
        <xs:sequence>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="elements" type="eahv-iv-AFV-common:elementsType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="repeatedElementsType">
        <xs:sequence>
            <xs:element name="repeatedElement" type="eahv-iv-AFV-common:repeatedElementType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>




