data/schemas/SM-Client-Atos/xsd_xslt/ssk-3001-000401/1/ssk-3001-000401-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/2"
	xmlns:ssk-common="http://www.steuerkonferenz.ch/xmlns/ssk-common/1"
	xmlns:ssk-3001-000401="http://www.steuerkonferenz.ch/xmlns/ssk-3001-000401/1"
	targetNamespace="http://www.steuerkonferenz.ch/xmlns/ssk-3001-000401/1"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Ausscheidungsbegehren</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/2" />
	<xs:import namespace="http://www.steuerkonferenz.ch/xmlns/ssk-common/1" />
	
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von ssk-common:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
			<xs:element name="declarationLocalReference" type="ssk-common:declarationLocalReferenceType" minOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Darf nur bei Rektifikat gesetzt werden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType" >
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="3001"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000401"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="object" type="ssk-common:naturalPersonsTaxType"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0"/>
			<xs:element name="messageDate" type="xs:dateTime"/>
			<xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0"/>
			<xs:element name="eventDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="modificationDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="ssk-3001-000401:attachmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="testData" type="xs:anyType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
			<xs:element name="messagePriority" type="ssk-common:messagePriorityType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventPeriod" type="xs:gYear"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="attachmentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Hilfstyp zur Beschreibung von Message Attachments. Abgeleitet von ssk-common:attachmentType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="ssk-common:attachmentTitleType"/>
			<xs:element name="documentDate" type="ssk-common:documentDateType" minOccurs="0"/>
			<xs:element name="leadingDocument" type="ssk-common:leadingDocumentType"/>
			<xs:element name="sortOrder" type="ssk-common:sortOrderType"/>
			<xs:element name="documentFormat">
				<xs:simpleType>
					<xs:restriction base="ssk-common:documentFormatType">
						<xs:enumeration value="application/pdf"/>
						<xs:enumeration value="image/tiff"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="documentType" type="xs:anyType" minOccurs="0"/>
			<xs:element name="file" type="ssk-common:attachmentFileType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="taxpayer" type="ssk-common:naturalPersonsTaxType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Steuerpflichtiger</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dispersionReason" type="ssk-3001-000401:dispersionReasonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Grund für Steuerausscheidungsbegehren</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxableValue" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Steuerwert in CHF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rentalValue" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Mietwert in CHF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acquisitionValue" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kaufwert in CHF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="municipality" type="ssk-3001-000401:municipalityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gemeinde des sek. Domizils inkl der PLZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateRegisterEntry" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum Grundbucheintrag</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dispersionReasonType">
		<xs:sequence>
			<xs:element name="secondaryFiscalDomicil" type="ssk-3001-000401:secondaryFiscalDomicilType" minOccurs="0" >
				<xs:annotation>
					<xs:documentation>Sekundäres Steuerdomizil</xs:documentation>
				</xs:annotation>
			</xs:element>					
			<xs:element name="changeDispersionObject" type="ssk-3001-000401:changeDispersionObjectType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Änderung best. Ausscheidungsobjekt</xs:documentation>
				</xs:annotation>
			</xs:element>					
			<xs:element name="closingSecondaryFiscalDomicil" type="ssk-3001-000401:closingSecondaryFiscalDomicilType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aufgabe sekundäres Steuerdomizil</xs:documentation>
				</xs:annotation>
			</xs:element>					
		</xs:sequence>
	</xs:complexType>
				
	<xs:complexType name="secondaryFiscalDomicilType">
		<xs:sequence>
			<xs:element name="acquisitionNewFreehold" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Erwerb neues Grundeigentum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="openingNewBusiness" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Eröffnung neuer Betriebsstätte</xs:documentation>
				</xs:annotation>							
			</xs:element>
			<xs:element name="newInterestPartnership" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Neubeteiligung Kollektivgesellschaft</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="changeOfDomicileOwner" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum Wohnsitzverlegung Eigentümer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="changeDispersionObjectType">
		<xs:sequence>
			<xs:element name="newTaxValue" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Veränderung Steuerwert</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalPurchase" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Teilzukauf</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newTaxValueAll" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Neuer Steuerwert aller Grundstücke</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="closingSecondaryFiscalDomicilType">
		<xs:sequence>
			<xs:element name="totalAlienation" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gesamtveräusserung aller Grundstücke</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="closingBusiness" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aufgabe Betriebsstätte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="retirementPartnership" type="ssk-3001-000401:yesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ausscheiden Kollektivgesellschaft</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="municipalityType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="zipCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
				
	<xs:simpleType name="yesNoType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nein</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ja</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
				
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ssk-3001-000401:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"></xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="ssk-3001-000401:headerType"/>
				<xs:element name="content" type="ssk-3001-000401:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
