data/schemas/SM-Client-Atos/xsd_xslt/pvli-5241-000601/1/pvli-5241-000601-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2022 (http://www.altova.com) by Lars Steffen (AWK Group AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:pvli-common="http://www.llv.li/xmlns/pvli-common/1" xmlns:pvli-5241-000701="http://www.llv.li/xmlns/pvli-5241-000601/1" targetNamespace="http://www.llv.li/xmlns/pvli-5241-000601/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:import namespace="http://www.llv.li/xmlns/pvli-common/1"/>
	<xs:annotation>
		<xs:documentation xml:lang="de">Datenaustausch Prämienverbilligung Liechtenstein: Jahresrechnung</xs:documentation>
	</xs:annotation>
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ableitung von pvli-common:headerType.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="declarationLocalReference" type="pvli-common:declarationLocalReferenceType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0"/>
			<xs:element name="businessProcessId" type="pvli-common:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="5241"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000601"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="pvli-common:actionType">
						<xs:maxLength value="2"/>
						<xs:minLength value="1"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Neu</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pvli-5241-000701:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="statementType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Eintrag für jede versicherte Person</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="statementDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stichtag der gemeldeten Jahresrechnung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statementYear" type="xs:gYear">
				<xs:annotation>
					<xs:documentation xml:lang="de">Vergütungsjahr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statementContributionYear" type="pvli-5241-000701:statementContributionYearType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Eintrag für jedes Beitragsjahr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="statementContributionYearType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Beitragsjahr innerhalb einer Jahresrechnung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="year" type="xs:gYear">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beitragsjahr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statementPerson" type="pvli-5241-000701:statementPersonType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Eintrag für jede versicherte Person</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="statementPersonType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Jahresrechnungs-Eintrag für eine Person</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="person" type="pvli-common:personType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Personenidentifikation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statementPersonPeriod" type="pvli-5241-000701:statementPersonPeriodType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zeitabschnitte, in denen sich hinsichtlich PV nichts geändert hat</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="statementPersonPeriodType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Zeitabschnitt</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="decreeId" type="pvli-common:decreeIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Referenzcode der zugrundeliegenden Verfügung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastBusinessProcessIdAgency" type="pvli-common:businessProcessIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Letzte für die Verfügung verarbeitete und abgerechnete Laufnummer der DFS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastBusinessProcessIdInsurance" type="pvli-common:businessProcessIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Letzte für die Verfügung verarbeitete und abgerechnete Laufnummer des KV falls vorhanden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beginMonth" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beginn Monat (Format YYYY-MM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endMonth" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ende Monat (Format YYYY-MM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premium" type="pvli-common:decimalTwoFractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifprämie in Franken und Rappen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="pvli-common:decimalTwoFractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gesamter ausgerichteter PV-Betrag in Franken und Rappen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="militarySuspension" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="de">True = Militärsistierung aktiv; False = Keine Militärsistierung</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="statement" type="pvli-5241-000701:statementType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="pvli-5241-000701:headerType"/>
				<xs:element name="content" type="pvli-5241-000701:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>