data/schemas/SM-Client-Atos/xsd_xslt/bfs-5052-000103/1/bfs-5052-000103-1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eCH-0046="http://www.ech.ch/xmlns/eCH-0046/2"
	xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/3"
	xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/1"
	xmlns:eCH-0098="http://www.ech.ch/xmlns/eCH-0098/1"
	xmlns:bfs-5052-000103="http://www.bfs.admin.ch/xmlns/bfs-5052-000103/1"
	targetNamespace="http://www.bfs.admin.ch/xmlns/bfs-5052-000103/1"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xs:annotation>
		<xs:documentation xml:lang="de">Rückmeldung Identifikatoren</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0046/2"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/3" />
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097/1" />
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0098/1" />
		
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von eCH-0058:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
			<xs:element name="declarationLocalReference" type="bfs-5052-000103:declarationLocalReferenceType" minOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="5052"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000103"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" minOccurs="0" maxOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="uniqueIdBusinessCase" type="eCH-0058:uniqueIdBusinessCaseType"/>
						<xs:element name="totalNumberOfPackages" type="eCH-0058:totalNumberOfPackagesType"/>
						<xs:element name="numberOfActualPackage" type="eCH-0058:numberOfActualPackageType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="object" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0"/>
			<xs:element name="messageDate" type="xs:dateTime"/>
			<xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0"/>
			<xs:element name="eventDate" type="xs:dateTime" minOccurs="0" maxOccurs="0" />
			<xs:element name="modificationDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="testData" type="xs:anyType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="identificationType" >
		<xs:sequence>
			<xs:element name="referenceMutationId" type="xs:decimal"/>
			<xs:element name="accountNumber" type="xs:string"/>
			<xs:element name="compensationOffice" type="xs:string"/>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="burNr" type="xs:decimal" minOccurs="0"/>
			<xs:element name="entId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="noga" type="eCH-0098:nogaCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="declarationLocalReferenceType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="department" type="xs:string" minOccurs="0"/>
			<xs:element name="phone" type="eCH-0046:phoneNumberType"/>
			<xs:element name="email" type="eCH-0046:emailAddressType"/>
			<xs:element name="other" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identification" type="bfs-5052-000103:identificationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="bfs-5052-000103:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="bfs-5052-000103:headerType" />
				<xs:element name="content" type="bfs-5052-000103:contentType" />
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
