data/schemas/SM-Client-Atos/xsd_xslt/pvli-common/1/pvli-common-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2022 (http://www.altova.com) by Lars Steffen (AWK Group AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/4" xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/2" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/4" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/2" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:pvli-common="http://www.llv.li/xmlns/pvli-common/1" targetNamespace="http://www.llv.li/xmlns/pvli-common/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/4"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0008/2"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/4"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/2"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:annotation>
		<xs:documentation xml:lang="de">Datenaustausch Prämienverbilligung Liechtenstein: Basistypen für die Meldungen</xs:documentation>
	</xs:annotation>
	<!-- ============================================= header type ============================================= -->
	<xs:complexType name="headerType" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ableitung von eCH-0058:headerType.
 Dieser Typ kann nicht direkt benutzt werden. Er muss für jede Meldung abgeleitet werden.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="declarationLocalReference" type="pvli-common:declarationLocalReferenceType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0"/>
			<xs:element name="businessProcessId" type="pvli-common:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType" type="eCH-0058:messageTypeType"/>
			<xs:element name="subMessageType" type="eCH-0058:subMessageTypeType"/>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action" type="pvli-common:actionType"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="actionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:minLength value="1"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Neue Meldung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="de">Anfrage</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="de">Antwort</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="declarationLocalReferenceType">
		<xs:sequence>
			<xs:element name="name" type="xs:token"/>
			<xs:element name="department" type="xs:token" minOccurs="0"/>
			<xs:element name="phone" type="pvli-common:phoneNumberType"/>
			<xs:element name="email" type="pvli-common:emailAddressType"/>
			<xs:element name="other" type="xs:token" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="phoneNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Von eCH-0046 übernommen, da eCH-0046-2-0.xsd auf die non-forgiving Version von eCH-0010 und eCH-0044 verweist, in DA-PV aber die forgiving Version benutzt wird.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d{10,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="emailAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Von eCH-0046 übernommen, da eCH-0046-2-0.xsd auf die non-forgiving Version von eCH-0010 und eCH-0044 verweist, in DA-PV aber die forgiving Version benutzt wird.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="businessProcessIdType">
		<xs:restriction base="xs:unsignedLong"/>
	</xs:simpleType>
	<!-- ============================================= content types ============================================= -->
	<!-- ============================================= field types ============================================= -->
	<xs:complexType name="decreeType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Verfügung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="decreeId" type="pvli-common:decreeIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Referenzcode der betroffenen Verfügung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="person" type="pvli-common:personType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Personenidentifikation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beginMonth" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beginn Monat (Format YYYY-MM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endMonth" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ende Monat (Format YYYY-MM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="pvli-common:decimalTwoFractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Monatlicher PV-Betrag in CHF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="limitation" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="de">False=keine Plafonierung; True=Plafonierung auf Tarifprämie</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="decreeIdType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Identifikationsnummer einer Verfügung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[a-zA-Z0-9_\-\.]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="insuranceDataType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Daten der Krankenversicherung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="premium" type="pvli-common:decimalTwoFractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Monatliche Tarifprämie in Franken und Rappen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accident" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="de">True=mit Unfall; False=ohne Unfall</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contractStartDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beginn des OKP-Versicherungsverhältnisses</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contractEndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ende des OKP-Versicherungsverhältnisses falls bekannt/vorhanden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="franchise" type="pvli-common:decimalTwoFractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Jährliche Franchise auf Franken und Rappen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premiumGroup" type="pvli-common:premiumGroupType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifgruppe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productName" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Produktname (Freitext)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bonus" type="pvli-common:bonusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bonusprodukt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premiumAge" type="pvli-common:premiumAgeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifaltersgruppe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premiumCountry" type="eCH-0008:countryIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifland, vierstelliger BFS-Ländercode gemäss http://www.bfs.admin.ch/bfs/portal/de/index/infothek/nomenklaturen/blank/blank/sg/01.html</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premiumZoneCH" type="eCH-0007:cantonAbbreviationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifzone falls Tarifland = Schweiz (zweistelliger Kantonskürzel)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premiumZoneForeign" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifzone falls Ausland, Freitext</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premiumRegionCH" type="pvli-common:premiumRegionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifregion falls Tarifland = Schweiz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premiumRegionForeign" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifregion falls Ausland, Freitext</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="premiumGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Tarifgruppe</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Grundversicherung mit ordentlicher Franchise und Wahlfranchisen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="de">HMO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="de">Hausarzt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="de">weitere Modelle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bonusType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Bonusprodukt</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">45%</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">35%</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="de">25%</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="de">15%</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="de">0%</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="de">kein Bonusprodukt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="premiumAgeType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Prämiengruppe</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kind</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="de">Junge Erwachsene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="de">Erwachsener</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="premiumRegionType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Prämienregion gem. BAG</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifregion 1</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifregion 2</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tarifregion 3</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bagNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Bezeichnet den Krankenversicherer anhand der BAG-Nummer. Für die Militärversicherung wird die BAG-Nummer 01572 benutzt, für die gemeinsame Einrichtung KVG die 09999. Bei einer Befreiung von der Versicherungspflicht gemäss Art. 2 KVV, wird die BAG-Nummer 09998 verwendet.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decimalTwoFractionDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="de">xs:decimal mit fractionDigits=2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="vn">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikationsnummer 13-stellig (IDN)</xs:documentation>
					<xs:appinfo>checksum.groovy</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:minInclusive value="4380000000001"/>
						<xs:maxInclusive value="4389999999999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="officialName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nachname</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Alle Vornamen in der richtigen Reihenfolge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sex" type="eCH-0044:sexType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Geschlecht (1=männlich, 2=weiblich)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Geburtsdatum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address" type="pvli-common:addressType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Adresse</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Wohnsitz</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="addressLine1" type="eCH-0010:addressLineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Adresszusatzzeile für personifizierte Adressangaben (z.B. c/o-Adresse)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLine2" type="eCH-0010:addressLineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Adresszusatzzeile für unpersonifizierte Adressangaben</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="street" type="eCH-0010:streetType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Strassenbezeichnungen (dies kann auch der Name einer Lokalität, etc. sein)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="houseNumber" type="eCH-0010:houseNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Hausnummer (zu setzen, falls vorhanden)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="town" type="eCH-0010:townType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ortsname (in ausländischen Adressen falls nötig inkl. Provinz etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="swissZipCode" type="eCH-0010:swissZipCodeType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Schweizer Postleitzahl (zu setzten, falls Land CH)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="foreignZipCode" type="eCH-0010:foreignZipCodeType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Ausländische Postleitzahl (zu setzten, falls Ausland)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="country" type="eCH-0008:countryIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Land, vierstelliger BFS-Ländercode</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>