data/schemas/SM-Client-Atos/xsd_xslt/ma-sd/1/ma-sd-1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Mit XMLSpy v2019 sp2 (x64) (http://www.altova.com) von Adrian Osterwalder (CROSS-WORKS AG) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/7" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4" xmlns:eCH-0046="http://www.ech.ch/xmlns/eCH-0046/5" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5" xmlns:ma-sd="http://ma.zh.ch/xmlns/sozialedienste/v1" targetNamespace="http://ma.zh.ch/xmlns/sozialedienste/v1" elementFormDefault="qualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Erstelldatum:27.03.2019</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/7" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/7/eCH-0010-7-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/4/eCH-0044-4-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0046/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0046/5/eCH-0046-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0058/5/eCH-0058-5-0.xsd"/>
	<xs:simpleType name="yearType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="2000"/>
			<xs:maxInclusive value="2099"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eventDateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="issueDateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="caseTextType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="costsOfIllnessAndDisabilityType">
		<xs:sequence>
			<xs:element name="year" type="ma-sd:yearType">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Kalenderjahr der Vergütung.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDate" type="ma-sd:issueDateType">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Stichtag der Berechnung.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Summierter Betrag der Krankheits- und Behinderungskosten.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caseText" type="ma-sd:caseTextType">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Text der Vergütung.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="needsBasedMinimumBenefitsDisposalType">
		<xs:sequence>
			<xs:element name="eventDate" type="ma-sd:eventDateType">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Datum des Inkrafttreten der Verfügung.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDate" type="ma-sd:issueDateType">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Ausstelldatum der Verfügung.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Der Monatliche Betrag der Ergänzungsleistungen.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caseText" type="ma-sd:caseTextType">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Text der Verfügungs.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="recordReferenceType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="caseType">
		<xs:sequence>
			<xs:element name="clerk" type="eCH-0046:contactType"/>
			<xs:element name="person" type="eCH-0044:personIdentificationType"/>
			<xs:element name="addressInformation" type="eCH-0010:addressInformationType"/>
			<xs:element name="yourRecordReference" type="ma-sd:recordReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Ihr Aktenzeichen: Referenz auf das entsprechende Dossier des Empfängers.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ourRecordReference" type="ma-sd:recordReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE"><![CDATA[Unser Aktenzeichen: Referenz auf das entsprechende Dossier des Absenders.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="needsBasedMinimumBenefitsDisposal" type="ma-sd:needsBasedMinimumBenefitsDisposalType">
					<xs:annotation>
						<xs:documentation xml:lang="DE"><![CDATA[Mit Verfügung zugesprochene Ergängzungsleisung.]]></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="costsOfIllnessAndDisability" type="ma-sd:costsOfIllnessAndDisabilityType">
					<xs:annotation>
						<xs:documentation xml:lang="DE"><![CDATA[Vergütungen von Krankheits- und Behinderungskosten.]]></xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="messageType">
		<xs:sequence>
			<xs:element name="header" type="eCH-0058:headerType"/>
			<xs:element name="case" type="ma-sd:caseType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message" type="ma-sd:messageType"/>
</xs:schema>
