data/schemas/SM-Client-Atos/xsd_xslt/ssk-3999-000002/1/ssk-3999-000002-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/2" xmlns:ssk-common="http://www.steuerkonferenz.ch/xmlns/ssk-common/1" xmlns:ssk-3999-000002="http://www.steuerkonferenz.ch/xmlns/ssk-3999-000002/1" xmlns:ns1="http://www.steuerkonferenz.ch/xmlns/ssk-3999-00002/1" targetNamespace="http://www.steuerkonferenz.ch/xmlns/ssk-3999-00002/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<xs:annotation>
		<xs:documentation xml:lang="de">SSK Update Ablage</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/2"/>
	<xs:import namespace="http://www.steuerkonferenz.ch/xmlns/ssk-common/1"/>
	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
			<xs:element name="declarationLocalReference" type="ssk-common:declarationLocalReferenceType" minOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0"/>
			<xs:element name="ourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="yourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="3999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000002"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0"/>
			<xs:element name="object" type="xs:anyType" minOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0"/>
			<xs:element name="messageDate" type="xs:dateTime"/>
			<xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0"/>
			<xs:element name="modificationDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="ssk-3999-000002:attachmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType" minOccurs="0"/>
			<xs:element name="testData" type="xs:anyType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
			<xs:element name="messagePriority" type="xs:integer" minOccurs="0"/>
			<xs:element name="eventPeriod" type="xs:gYear" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attachmentType">
		<xs:sequence>
			<xs:element name="title" type="eCH-0058:subjectType"/>
			<xs:element name="pathFileName" type="ssk-common:pathFileNameType" maxOccurs="unbounded"/>
			<xs:element name="leadingDocument" type="ssk-common:leadingDocumentType"/>
			<xs:element name="sortOrder" type="ssk-common:sortOrderType"/>
			<xs:element name="documentFormat"/>
			<xs:element name="documentType" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ssk-3999-000002:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="ssk-3999-000002:headerType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
