data/schemas/SM-Client-Atos/xsd_xslt/ZAS-2075-000101/1/zas-RC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2022 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.zas.admin.ch/RC" targetNamespace="http://www.zas.admin.ch/RC" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="LandNrBSV_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Weite Codifizierung der Länder/Nationalitäten (nach BSV Coden) (default type)</xs:documentation>
			<xs:documentation xml:lang="fr">Codification OFAS des pays (typage faible, défaut)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="100"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KantonNrBSV_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Weite Codifizierung der Kantone (nach BSV Coden) (default type)</xs:documentation>
			<xs:documentation xml:lang="fr">Codification OFAS des cantons (typage faible, défaut)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LandNrBSV_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">(to be implemented) Strenge Codifizierung der Länder/Nationalitäten (nach BSV Coden)</xs:documentation>
			<xs:documentation xml:lang="fr">Codification OFAS des pays (typage fort)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:LandNrBSV_weakType"/>
	</xs:simpleType>
	<xs:simpleType name="Kanton2B_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">2-Buchstaben Kantonscoden (AG,AI,usw.) (+LIechtenstein)</xs:documentation>
			<xs:documentation xml:lang="fr">Code canton sur 2 positions, + LI(echtenstein)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BL"/>
			<xs:enumeration value="BS"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="GE"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="JU"/>
			<xs:enumeration value="LU"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NW"/>
			<xs:enumeration value="OW"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="SO"/>
			<xs:enumeration value="SZ"/>
			<xs:enumeration value="TI"/>
			<xs:enumeration value="TG"/>
			<xs:enumeration value="UR"/>
			<xs:enumeration value="VD"/>
			<xs:enumeration value="VS"/>
			<xs:enumeration value="ZG"/>
			<xs:enumeration value="ZH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KantonNrBSV_StrongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Strenge Codifizierung der Kantone (nach BSV Coden)</xs:documentation>
			<xs:documentation xml:lang="fr">Codification OFAS des cantons (typage fort)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:KantonNrBSV_weakType">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WohnkantonStaat_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Wohnort (2-Buchstaben Kantonscode in der Schweiz, oder BSV-Schlüsselzahl im Ausland)</xs:documentation>
			<xs:documentation xml:lang="fr">Lieu de résidence (canton pour la Suisse, ou code-pays OFAS pour l'étranger)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:LandNrBSV_weakType ns1:Kanton2B_Type"/>
	</xs:simpleType>
	<xs:simpleType name="WohnkantonStaatBSV_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Wohnort (2-Buchstaben Kantonscode in der Schweiz, oder BSV-Schlüsselzahl im Ausland)</xs:documentation>
			<xs:documentation xml:lang="fr">Lieu de résidence (canton pour la Suisse, ou code-pays OFAS pour l'étranger)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:LandNrBSV_weakType ns1:KantonNrBSV_StrongType"/>
	</xs:simpleType>
	<xs:simpleType name="SchluesselzahlStornoeintrag_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Schlüsselzahl für Stornoeintragung</xs:documentation>
			<xs:documentation xml:lang="fr">Code extourne</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SchluesselzahlBeitragsart_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Schlüsselzahl für Beitragsart</xs:documentation>
			<xs:documentation xml:lang="fr">Code du genre de cotisation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetreuungsgutschriftBruchteil_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Bruchteil der Betreuungsgutschrift (02=1/2, 03=1/3 usw.)</xs:documentation>
			<xs:documentation xml:lang="fr">Part aux bonifications d'assistance</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="99"/>
			<xs:minInclusive value="00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BesondereSchluesselzahlSplitPer_Type">
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BesondereSchluesselzahlIK_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">eine besondere Schlüsselzahl (IK)  (e.g. MZR Anwendungsgebiet 38, Feld 18)</xs:documentation>
			<xs:documentation xml:lang="fr">code particulier (par ex. ARC code applic. 38, champ 18)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SonderfallcodeIK_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Sonderfallcode im IK-Bereich</xs:documentation>
			<xs:documentation xml:lang="fr">code spécial (par ex. ARC code applic. 38, champ 20)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnsignedByte1stellig_Type">
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnsignedByte2stellig_Type">
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Short2stellig_Type">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Short3stellig_Type">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnsignedInt5stellig_Type">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VisumIVStelle_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1stellig_Type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String2stellig_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String10stellig_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String11stellig_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String23stellig_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String22stellig_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String30stellig_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFR_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Beitrag im AHV-Gebiet : CHF (bis 10^9 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF) dans le domaine AVS : (jusqu'à 10^9 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[\+\-]?\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Beitrag im AHV-Gebiet : CHF.RP (bis(10^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) dans le domaine AVS : (jusqu'à 10^9.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[\+\-]?\d{1,9}\.\d{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP12_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">12-stelligen Betrag mit Rappen : CHF.RP (bis(12^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à douze positions plus les décimales : (jusqu'à 10^11.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,11}\.\d{1,2}|\d{1,12}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP3_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">3-stelligen Betrag mit Rappen : CHF.RP (bis(3^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à trois positions plus les décimales : (jusqu'à 999.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,2}\.\d{1,2}|\d{1,3}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP4_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">4-stelligen Betrag mit Rappen : CHF.RP (bis(4^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à quatre positions plus les décimales : (jusqu'à 9999.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,3}\.\d{1,2}|\d{1,4}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP4Bis_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">4-stelligen Betrag mit Rappen : CHF.RP (bis(4^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à quatre positions plus les décimales : (jusqu'à 9999.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,4}\.\d{1,2}|\d{1,4}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP5_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">5-stelligen Betrag mit Rappen : CHF.RP (bis(5^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à cinq positions plus les décimales : (jusqu'à 99999.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,4}\.\d{1,2}|\d{1,5}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP5Bis_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">5-stelligen Betrag mit Rappen : CHF.RP (bis(5^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à cinq positions plus les décimales : (jusqu'à 99999.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,5}\.\d{1,2}|\d{1,5}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP7_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">5-stelligen Betrag mit Rappen : CHF.RP (bis(5^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à cinq positions plus les décimales : (jusqu'à 99999.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,6}\.\d{1,2}|\d{1,7}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP10_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">10-stelligen Betrag mit Rappen : CHF.RP (bis(10^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à dix positions plus les décimales : (jusqu'à 9'999'999'999.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,9}\.\d{1,2}|\d{1,10}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFR4_Type">
		<xs:annotation>
			<xs:documentation>4-stelliger Betrag CHF</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFR5_Type">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFR5MitNull_Type">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFR6_Type">
		<xs:annotation>
			<xs:documentation>6-stelliger Betrag CHF</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFR6MitNull_Type">
		<xs:annotation>
			<xs:documentation>6-stelliger Betrag CHF</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BetragFRRP6_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">5-stelligen Betrag mit Rappen : CHF.RP (bis(5^9).99 CHF)</xs:documentation>
			<xs:documentation xml:lang="fr">Montant monétaire (en CHF.CT) à cinq positions plus les décimales : (jusqu'à 99999.99 CHF)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\+\-]?\d{1,5}\.\d{1,2}|\d{1,6}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Geschlecht_numType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Geschlecht : 1=männlich, 2=weiblich</xs:documentation>
			<xs:documentation xml:lang="fr">sexe : 1=masculin 2=féminin</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FolgerecordNr_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">MZR : Code Folgerecord</xs:documentation>
			<xs:documentation xml:lang="fr">ARC : code enregistrement</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Versichertennummer8bis10Stellen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Altes, 8-10 stelligen AHV Nummer</xs:documentation>
			<xs:documentation xml:lang="fr">Ancien numéro AVS à 8-10 positions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:pattern value="[1-9][0-9]{7,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Versichertennummer8Stellen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Altes, 8-stelligen AHV Nummer</xs:documentation>
			<xs:documentation xml:lang="fr">Ancien numéro AVS à 8 positions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:pattern value="[1-9][0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Versichertennummer11Stellen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">11-stelligen AHV Nummer</xs:documentation>
			<xs:documentation xml:lang="fr">Numéro AVS à 11 positions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:pattern value="[1-9][0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersichertennummerUnbekannt_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">11-stelligen AHV Nummer</xs:documentation>
			<xs:documentation xml:lang="fr">Numéro AVS à 11 positions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:pattern value="[0]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Versichertennummer8bis11Stellen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Irgendein AHV Nummer von 8 bis 11 Stellen</xs:documentation>
			<xs:documentation xml:lang="fr">Tout numéro AVS de 8 à 11 positions</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:Versichertennummer11Stellen_Type ns1:Versichertennummer8bis10Stellen_Type"/>
	</xs:simpleType>
	<xs:simpleType name="VersichertennummerAHVteil_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Irgendeine unvollständige AHV Nummer von 5 bis 7 erste Stellen</xs:documentation>
			<xs:documentation xml:lang="fr">Tout numéro AVS partiel composé des 5 à 7 premières positions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:pattern value="[1-9][0-9]{4,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Versichertennummer13Stellen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Schweizerische, 13-stelligen Versichertennummer (756xxxxxxxxxy)</xs:documentation>
			<xs:documentation xml:lang="fr">Numéro AVS suisse à 13 positions (756xxxxxxxxxy)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:minInclusive value="7560000000002"/>
			<xs:maxInclusive value="7569999999998"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Versichertennummer11oder13Stellen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">11-stelligen oder 13-stelligen Versichertennummer</xs:documentation>
			<xs:documentation xml:lang="fr">Numéro AVS à 11 ou 13 positions</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:Versichertennummer11Stellen_Type ns1:Versichertennummer13Stellen_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Versichertennummer8bis13Stellen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Irgendein AHV-Nummer von 8 bis 13 Stellen</xs:documentation>
			<xs:documentation xml:lang="fr">Tout numéro AVS (8-13 positions)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:Versichertennummer8bis11Stellen_Type ns1:Versichertennummer13Stellen_Type"/>
	</xs:simpleType>
	<xs:simpleType name="VersichertennummerPartiell_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Irgendeine (partielle) Versichertennummer : von 5 bis 11 Stellen (alter AHV-Typ) oder vollständige 13-stellige Nummer.</xs:documentation>
			<xs:documentation xml:lang="fr">Tout numéro AVS (partiel) : de 5 à 11 positions (type AVS ancien) ou 13 positions (type AVS nouveau).</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:Versichertennummer8bis13Stellen_Type ns1:VersichertennummerAHVteil_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ZivilRegisterNummer_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Zivilregistersnummer aus InfoStar</xs:documentation>
			<xs:documentation xml:lang="fr">Identifiant du registre d'état-civil InfoStar</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MilitarischeVersicherungsnummer_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Militarische Versicherungsnummer</xs:documentation>
			<xs:documentation xml:lang="fr">Identifiant de l'assurance militaire</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersichertennummerEU_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Sozialversicherungsnummer aus einem UE Land</xs:documentation>
			<xs:documentation xml:lang="fr">Identifiant d'assuré social dans un pays de l'Union Européenne</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Versichertennummer11oder13StellenOderUnbekannt_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">11-stelligen oder 13-stelligen oder Blank Versichertennummer </xs:documentation>
			<xs:documentation xml:lang="fr">Numéro AVS à 11 ou 13 positions ou vide</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:Versichertennummer11oder13Stellen_Type ns1:VersichertennummerUnbekannt_Type"/>
	</xs:simpleType>
	<xs:simpleType name="NameVorname_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">ein Versichertenname oder Versichertenvorname</xs:documentation>
			<xs:documentation xml:lang="fr">Nom ou prénom d'un assuré</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:pattern value="[A-Za-z]+([\- '][A-Za-z]+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameVorname_WeakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">ein Versichertenname oder Versichertenvorname</xs:documentation>
			<xs:documentation xml:lang="fr">Nom ou prénom d'un assuré</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameUndVorname_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ein Versichertenname mit ein Versichertenvorname mit einem Komma getrennt</xs:documentation>
			<xs:documentation xml:lang="fr">Nom et prénom d'un assuré séparés par une virgule</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="81"/>
			<xs:pattern value="[A-Za-z]+([\- '][A-Za-z]+)*[,][A-Za-z]+([\- '][A-Za-z]+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhonName_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">phonetische Versichertenname (Double-Metaphone Codifizierung, 6. Pos.)</xs:documentation>
			<xs:documentation xml:lang="fr">nom phonétique d'un assuré (encodage Double-Métaphone limité à 6 positions).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Geburtstag_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Genaues Geburtsdatum : JJJJ-MM-TT</xs:documentation>
			<xs:documentation xml:lang="fr">Date de naissance au jour : AAAA-MM-JJ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1848-01-01"/>
			<xs:maxInclusive value="2048-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Todestag_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Genaues Ablebensdatum : JJJJ-MM-TT</xs:documentation>
			<xs:documentation xml:lang="fr">Date de décès au jour : AAAA-MM-JJ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1948-01-01"/>
			<xs:maxInclusive value="2048-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Geburtsjahr_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Genaues Geburtsjahr : JJJJ</xs:documentation>
			<xs:documentation xml:lang="fr">Année de naissance : AAAA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="1848"/>
			<xs:maxInclusive value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Todessjahr_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Genaues Ablebensjahr : JJJJ</xs:documentation>
			<xs:documentation xml:lang="fr">Année de décès : AAAA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="1948"/>
			<xs:maxInclusive value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Geburtsmonat_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Genauer Geburtsmonat : MM-JJJJ</xs:documentation>
			<xs:documentation xml:lang="fr">Date de naissance au mois : AAAA-MM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYearMonth">
			<xs:minInclusive value="1848-01"/>
			<xs:maxInclusive value="2048-12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Todessmonat_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Genauer Ablebensmonat : MM-JJJJ</xs:documentation>
			<xs:documentation xml:lang="fr">Date de décès au mois : AAAA-MM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYearMonth">
			<xs:minInclusive value="1948-01"/>
			<xs:maxInclusive value="2048-12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Datumgenauigkeit_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Tatsächlicher Genauigkeitsstand eines komplettes Datum (JJJJ-MM-TT) : Tag, Monat oder Jahr</xs:documentation>
			<xs:documentation xml:lang="fr">Précision effective d'une date complète : au jour, au mois ou à l'année</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Tag"/>
			<xs:enumeration value="Monat"/>
			<xs:enumeration value="Jahr"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Geburtsdatum_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Geburtsdatum (JJJJ-MM-TT)</xs:documentation>
			<xs:documentation xml:lang="fr">Date de naissance : AAAA-MM-JJ</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ns1:Geburtstag_Type">
				<xs:attribute name="Datumgenauigkeit" type="ns1:Datumgenauigkeit_Type" use="optional" form="qualified"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Todesdatum_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Date de naissance (AAAA-MM-JJ)</xs:documentation>
			<xs:documentation xml:lang="fr">Date de décès : AAAA-MM-JJ</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ns1:Todestag_Type">
				<xs:attribute name="Datumgenauigkeit" type="ns1:Datumgenauigkeit_Type" use="optional" form="qualified"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="IVStelle9_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der IV-Stellen (default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Offices AI (typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IVStelle9_strongType">
		<xs:restriction base="ns1:IVStelle9_weakType">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IVStelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der IV-Stellen (default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Offices AI (typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="301"/>
			<xs:maxInclusive value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IVStelle_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der IV-Stellen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Offices AI (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:IVStelle_weakType">
			<xs:enumeration value="301"/>
			<xs:enumeration value="302"/>
			<xs:enumeration value="303"/>
			<xs:enumeration value="304"/>
			<xs:enumeration value="305"/>
			<xs:enumeration value="306"/>
			<xs:enumeration value="307"/>
			<xs:enumeration value="308"/>
			<xs:enumeration value="309"/>
			<xs:enumeration value="310"/>
			<xs:enumeration value="311"/>
			<xs:enumeration value="312"/>
			<xs:enumeration value="313"/>
			<xs:enumeration value="314"/>
			<xs:enumeration value="315"/>
			<xs:enumeration value="316"/>
			<xs:enumeration value="317"/>
			<xs:enumeration value="318"/>
			<xs:enumeration value="319"/>
			<xs:enumeration value="320"/>
			<xs:enumeration value="321"/>
			<xs:enumeration value="322"/>
			<xs:enumeration value="323"/>
			<xs:enumeration value="324"/>
			<xs:enumeration value="325"/>
			<xs:enumeration value="327"/>
			<xs:enumeration value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IVZweigstelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der IV-Zweigstellen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences d'offices AI (typage faible,
				défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="301000"/>
			<xs:maxInclusive value="350999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IVZweigstelle_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der IV-Zweigstellen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Agences d'offices AI (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:IVZweigstelle_weakType">
			<xs:enumeration value="301000"/>
			<xs:enumeration value="302000"/>
			<xs:enumeration value="303000"/>
			<xs:enumeration value="304000"/>
			<xs:enumeration value="305000"/>
			<xs:enumeration value="306000"/>
			<xs:enumeration value="307000"/>
			<xs:enumeration value="308000"/>
			<xs:enumeration value="309000"/>
			<xs:enumeration value="310000"/>
			<xs:enumeration value="311000"/>
			<xs:enumeration value="312000"/>
			<xs:enumeration value="313000"/>
			<xs:enumeration value="314000"/>
			<xs:enumeration value="315000"/>
			<xs:enumeration value="316000"/>
			<xs:enumeration value="317000"/>
			<xs:enumeration value="318000"/>
			<xs:enumeration value="319000"/>
			<xs:enumeration value="320000"/>
			<xs:enumeration value="321000"/>
			<xs:enumeration value="322000"/>
			<xs:enumeration value="323000"/>
			<xs:enumeration value="324000"/>
			<xs:enumeration value="325000"/>
			<xs:enumeration value="327000"/>
			<xs:enumeration value="350000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KantBundAGKasse_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der kantonalen und Bund
				Ausgleichskassen (default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des caisses de compensation cantonales et
				fédérales (typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="150"/>
			<xs:minInclusive value="001"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KantBundAGKasse_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der kantonalen und Bund
				Ausgleichskassen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des caisses de compensation cantonales et
				fédérales (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:KantBundAGKasse_weakType">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VerbandAGKasse_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der Verbandkassen (default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des caisses de compensation
				professionnelles (typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="028"/>
			<xs:maxInclusive value="116"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VerbandAGKasse_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der Verbandausgleichskassen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des caisses de compensation
				professionnelles (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:VerbandAGKasse_weakType">
			<xs:enumeration value="028"/>
			<xs:enumeration value="031"/>
			<xs:enumeration value="032"/>
			<xs:enumeration value="033"/>
			<xs:enumeration value="034"/>
			<xs:enumeration value="035"/>
			<xs:enumeration value="036"/>
			<xs:enumeration value="037"/>
			<xs:enumeration value="038"/>
			<xs:enumeration value="040"/>
			<xs:enumeration value="042"/>
			<xs:enumeration value="043"/>
			<xs:enumeration value="044"/>
			<xs:enumeration value="045"/>
			<xs:enumeration value="046"/>
			<xs:enumeration value="048"/>
			<xs:enumeration value="051"/>
			<xs:enumeration value="052"/>
			<xs:enumeration value="053"/>
			<xs:enumeration value="054"/>
			<xs:enumeration value="055"/>
			<xs:enumeration value="056"/>
			<xs:enumeration value="057"/>
			<xs:enumeration value="058"/>
			<xs:enumeration value="059"/>
			<xs:enumeration value="060"/>
			<xs:enumeration value="061"/>
			<xs:enumeration value="062"/>
			<xs:enumeration value="063"/>
			<xs:enumeration value="064"/>
			<xs:enumeration value="065"/>
			<xs:enumeration value="066"/>
			<xs:enumeration value="067"/>
			<xs:enumeration value="068"/>
			<xs:enumeration value="069"/>
			<xs:enumeration value="070"/>
			<xs:enumeration value="071"/>
			<xs:enumeration value="073"/>
			<xs:enumeration value="074"/>
			<xs:enumeration value="075"/>
			<xs:enumeration value="076"/>
			<xs:enumeration value="077"/>
			<xs:enumeration value="078"/>
			<xs:enumeration value="079"/>
			<xs:enumeration value="080"/>
			<xs:enumeration value="081"/>
			<xs:enumeration value="082"/>
			<xs:enumeration value="083"/>
			<xs:enumeration value="084"/>
			<xs:enumeration value="085"/>
			<xs:enumeration value="086"/>
			<xs:enumeration value="087"/>
			<xs:enumeration value="088"/>
			<xs:enumeration value="089"/>
			<xs:enumeration value="090"/>
			<xs:enumeration value="091"/>
			<xs:enumeration value="092"/>
			<xs:enumeration value="093"/>
			<xs:enumeration value="094"/>
			<xs:enumeration value="095"/>
			<xs:enumeration value="096"/>
			<xs:enumeration value="097"/>
			<xs:enumeration value="098"/>
			<xs:enumeration value="099"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="101"/>
			<xs:enumeration value="102"/>
			<xs:enumeration value="103"/>
			<xs:enumeration value="104"/>
			<xs:enumeration value="105"/>
			<xs:enumeration value="106"/>
			<xs:enumeration value="107"/>
			<xs:enumeration value="108"/>
			<xs:enumeration value="109"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="111"/>
			<xs:enumeration value="112"/>
			<xs:enumeration value="113"/>
			<xs:enumeration value="114"/>
			<xs:enumeration value="115"/>
			<xs:enumeration value="116"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AGKasse_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der Ausgleichskassen, basetype
				(3-pos. numer. Code)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des numéros de caisses de compensation
				(typage faible)
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:KantBundAGKasse_weakType ns1:VerbandAGKasse_weakType"/>
	</xs:simpleType>
	<xs:simpleType name="AGKasse_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung aller Ausgleichskassen (3-pos.
				numer. Code)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification de toutes les caisses de compensation
				(typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:KantBundAGKasse_strongType ns1:VerbandAGKasse_strongType"/>
	</xs:simpleType>
	<xs:simpleType name="AGKasseZweigstelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung aller Ausgleichskassezweigstellen
				(6-pos. numer. Code)
			</xs:documentation>
			<xs:documentation>
				Codification des agences de caisse de compensation
				(typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="150999"/>
			<xs:minInclusive value="001000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AGKasseZweigstelle_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				(to be implemented) Strenge Codifizierung aller
				Ausgleichskassezweigstellen (6-pos. numer. Code)
			</xs:documentation>
			<xs:documentation>
				Codification des agences de caisse de compensation
				(typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AGKasseZweigstelle_weakType">
			<xs:maxInclusive value="116999"/>
			<xs:minInclusive value="001000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ELAmt_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der kantonalen EL-Amten (default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des numéros d'offices PC cantonaux (typage
				faible)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="401"/>
			<xs:maxInclusive value="431"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ELAmt_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der kantonalen EL-Amten
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des numéros d'offices PC cantonaux (typage
				fort)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:ELAmt_weakType">
			<xs:enumeration value="401"/>
			<xs:enumeration value="402"/>
			<xs:enumeration value="403"/>
			<xs:enumeration value="404"/>
			<xs:enumeration value="405"/>
			<xs:enumeration value="406"/>
			<xs:enumeration value="407"/>
			<xs:enumeration value="408"/>
			<xs:enumeration value="409"/>
			<xs:enumeration value="410"/>
			<xs:enumeration value="411"/>
			<xs:enumeration value="412"/>
			<xs:enumeration value="412"/>
			<xs:enumeration value="412"/>
			<xs:enumeration value="413"/>
			<xs:enumeration value="414"/>
			<xs:enumeration value="415"/>
			<xs:enumeration value="416"/>
			<xs:enumeration value="417"/>
			<xs:enumeration value="418"/>
			<xs:enumeration value="419"/>
			<xs:enumeration value="420"/>
			<xs:enumeration value="421"/>
			<xs:enumeration value="422"/>
			<xs:enumeration value="423"/>
			<xs:enumeration value="424"/>
			<xs:enumeration value="425"/>
			<xs:enumeration value="426"/>
			<xs:enumeration value="427"/>
			<xs:enumeration value="428"/>
			<xs:enumeration value="429"/>
			<xs:enumeration value="430"/>
			<xs:enumeration value="431"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ELAmtZweigstelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der kantonalen EL-Amtzweigstellen
				(default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences d'offices PC (typage faible,
				défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="401000"/>
			<xs:maxInclusive value="490000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ELAmtZweigstelle_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der kantonalen EL-Amtzweigstellen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				(reste à implémenter) Codification des agences d'offices
				PC (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:ELAmtZweigstelle_weakType">
			<xs:enumeration value="401000"/>
			<xs:enumeration value="402000"/>
			<xs:enumeration value="403000"/>
			<xs:enumeration value="404000"/>
			<xs:enumeration value="405000"/>
			<xs:enumeration value="406000"/>
			<xs:enumeration value="407000"/>
			<xs:enumeration value="408000"/>
			<xs:enumeration value="409000"/>
			<xs:enumeration value="410000"/>
			<xs:enumeration value="411000"/>
			<xs:enumeration value="412000"/>
			<xs:enumeration value="413000"/>
			<xs:enumeration value="414000"/>
			<xs:enumeration value="415000"/>
			<xs:enumeration value="416000"/>
			<xs:enumeration value="417000"/>
			<xs:enumeration value="418000"/>
			<xs:enumeration value="419000"/>
			<xs:enumeration value="420000"/>
			<xs:enumeration value="421000"/>
			<xs:enumeration value="422000"/>
			<xs:enumeration value="423000"/>
			<xs:enumeration value="424000"/>
			<xs:enumeration value="425000"/>
			<xs:enumeration value="426000"/>
			<xs:enumeration value="427000"/>
			<xs:enumeration value="428000"/>
			<xs:enumeration value="429000"/>
			<xs:enumeration value="430000"/>
			<xs:enumeration value="431000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MVAmt_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der kantonalen MV-Amten (default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des numéros d'offices Assurance Militaire
				cantonaux (typage faible)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="501"/>
			<xs:maxInclusive value="540"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MVAmt_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der kantonalen MV-Amten
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des numéros d'offices assurance militaire
				cantonaux (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:MVAmt_weakType">
			<xs:enumeration value="501"/>
			<xs:enumeration value="502"/>
			<xs:enumeration value="503"/>
			<xs:enumeration value="504"/>
			<xs:enumeration value="505"/>
			<xs:enumeration value="506"/>
			<xs:enumeration value="507"/>
			<xs:enumeration value="508"/>
			<xs:enumeration value="509"/>
			<xs:enumeration value="510"/>
			<xs:enumeration value="511"/>
			<xs:enumeration value="512"/>
			<xs:enumeration value="513"/>
			<xs:enumeration value="514"/>
			<xs:enumeration value="515"/>
			<xs:enumeration value="516"/>
			<xs:enumeration value="517"/>
			<xs:enumeration value="518"/>
			<xs:enumeration value="519"/>
			<xs:enumeration value="520"/>
			<xs:enumeration value="521"/>
			<xs:enumeration value="522"/>
			<xs:enumeration value="523"/>
			<xs:enumeration value="524"/>
			<xs:enumeration value="525"/>
			<xs:enumeration value="526"/>
			<xs:enumeration value="527"/>
			<xs:enumeration value="528"/>
			<xs:enumeration value="529"/>
			<xs:enumeration value="530"/>
			<xs:enumeration value="531"/>
			<xs:enumeration value="532"/>
			<xs:enumeration value="533"/>
			<xs:enumeration value="534"/>
			<xs:enumeration value="535"/>
			<xs:enumeration value="536"/>
			<xs:enumeration value="537"/>
			<xs:enumeration value="538"/>
			<xs:enumeration value="539"/>
			<xs:enumeration value="540"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MVAmtZweigstelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der MV-Amtzweigstellen (default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences d'offices AM (typage faible,
				défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="500000"/>
			<xs:maxInclusive value="540999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MVAmtZweigstelle_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der MV-Amtzweigstellen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				(reste à implémenter) Codification des agences d'offices
				AM (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:MVAmtZweigstelle_weakType">
			<xs:enumeration value="500000"/>
			<xs:enumeration value="501000"/>
			<xs:enumeration value="502000"/>
			<xs:enumeration value="503000"/>
			<xs:enumeration value="504000"/>
			<xs:enumeration value="505000"/>
			<xs:enumeration value="506000"/>
			<xs:enumeration value="507000"/>
			<xs:enumeration value="508000"/>
			<xs:enumeration value="509000"/>
			<xs:enumeration value="510000"/>
			<xs:enumeration value="511000"/>
			<xs:enumeration value="512000"/>
			<xs:enumeration value="513000"/>
			<xs:enumeration value="514000"/>
			<xs:enumeration value="515000"/>
			<xs:enumeration value="516000"/>
			<xs:enumeration value="517000"/>
			<xs:enumeration value="518000"/>
			<xs:enumeration value="519000"/>
			<xs:enumeration value="520000"/>
			<xs:enumeration value="521000"/>
			<xs:enumeration value="522000"/>
			<xs:enumeration value="523000"/>
			<xs:enumeration value="524000"/>
			<xs:enumeration value="525000"/>
			<xs:enumeration value="526000"/>
			<xs:enumeration value="527000"/>
			<xs:enumeration value="528000"/>
			<xs:enumeration value="529000"/>
			<xs:enumeration value="530000"/>
			<xs:enumeration value="531000"/>
			<xs:enumeration value="532000"/>
			<xs:enumeration value="533000"/>
			<xs:enumeration value="534000"/>
			<xs:enumeration value="535000"/>
			<xs:enumeration value="536000"/>
			<xs:enumeration value="537000"/>
			<xs:enumeration value="538000"/>
			<xs:enumeration value="539000"/>
			<xs:enumeration value="540000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PseudoKassen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung der anderen, ausserordentlichen
				MZR Sendern (default)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification forte des quelques émetteurs d'ARCs
				atypiques ou "hors-catégorie" (typage faible)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="599000">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						Kontrollamt der ZAS
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						Bureau de contrôle de la CdC
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="990000">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						BSV
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						OFAS
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="995000">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						Zweite Säule
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						Deuxième pilier
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AGKasseIVStelle_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung aller Ausgleichskassen+IV-Stellen
				(3-pos. numer. Code)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification de toutes les caisses de compensation +
				offices AI (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:AGKasse_strongType ns1:IVStelle_strongType"/>
	</xs:simpleType>
	<xs:simpleType name="AGKasseIVZweigstelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung aller Ausgleichskassen- (resp. IV-)
				zweigstellen (6-pos. numer. Code)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences de caisse de compensation et
				offices AI (typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:AGKasseZweigstelle_weakType ns1:IVZweigstelle_weakType"/>
	</xs:simpleType>
	<xs:simpleType name="AGKasseIVZweigstelle_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung aller Ausgleichskassen- (resp.
				IV-) zweigstellen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences de caisse de compensation et
				offices AI (typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:AGKasseZweigstelle_strongType ns1:IVZweigstelle_strongType"/>
	</xs:simpleType>
	<xs:simpleType name="KantBundAGKasseZweigstelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der kantonalen und Bund
				Ausgleichskassen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences de caisse de compensation
				cantonales + fédérales (typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="001000"/>
			<xs:maxInclusive value="050999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VerbandAGKasseZweigstelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung der Verbandausgleichskassen
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences de caisse de compensation
				professionnelles (typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="028000"/>
			<xs:maxInclusive value="516999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IrgendeineZweigstelle_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Strenge Codifizierung aller Ausgleichskassen- (resp.
				IV-) (resp. milit. Versich.-) (resp. Pseudo-)
				zweigstellen (6-pos. numer. Code)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences de caisse de compensation et
				offices AI et assurance militaire et pseudo-émetteurs
				(typage fort)
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:AGKasseZweigstelle_strongType ns1:IVZweigstelle_strongType ns1:MVAmtZweigstelle_strongType ns1:PseudoKassen_Type"/>
	</xs:simpleType>
	<xs:simpleType name="IrgendeineZweigstelle_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Weite Codifizierung aller Ausgleichskassen- (resp. IV-)
				(resp. milit. Versich.-) (resp. Pseudo-) zweigstellen
				(6-pos. numer. Code)
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Codification des agences de caisse de compensation et
				offices AI et assurance militaire et pseudo-émetteurs
				(typage faible, défaut)
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:ELAmtZweigstelle_weakType ns1:AGKasseZweigstelle_weakType ns1:IVZweigstelle_weakType ns1:MVAmtZweigstelle_weakType ns1:PseudoKassen_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AHVTimestamp_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datum und Zeit (automatische Durchführung...)</xs:documentation>
			<xs:documentation xml:lang="fr">Timestamp (d'une opération par ex.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="2004-01-01T00:00:00"/>
			<xs:maxInclusive value="2048-12-31T23:59:59"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AHVDatumJMT_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de"> Genaues datum im AHV-Gebiet (Gültigkeit, Durchführung usw.)</xs:documentation>
			<xs:documentation xml:lang="fr">Date précise (au jour) dans le domaine temporel de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1948-01-01"/>
			<xs:maxInclusive value="9999-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AHVDatumJM_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Jahr-Monat Datum  im AHV-Gebiet (Gültigkeit, Durchführung usw.)</xs:documentation>
			<xs:documentation xml:lang="fr">Date au mois, dans le domaine de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYearMonth">
			<xs:minInclusive value="1948-01"/>
			<xs:maxInclusive value="2048-12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AHVDatumJ_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Jahr Datum  im AHV-Gebiet (Gültigkeit, Durchführung usw.)</xs:documentation>
			<xs:documentation xml:lang="fr">Date à l'année, dans le domaine de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="1948"/>
			<xs:maxInclusive value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AHVPeriodeJ_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Jahr-Jahr Periode im AHV-Gebiet</xs:documentation>
			<xs:documentation xml:lang="fr">Période année-année dans le domane de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Anfangsjahr" type="ns1:AHVDatumJ_Type"/>
			<xs:element name="Endjahr" type="ns1:AHVDatumJ_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AHVPeriodeJM_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Monat-Monat Periode im AHV-Gebiet</xs:documentation>
			<xs:documentation xml:lang="fr">Période mois-mois dans le domaine de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Anfangsmonat" type="ns1:AHVDatumJM_Type"/>
			<xs:element name="Endmonat" type="ns1:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AHVPeriodeJMT_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Tag-Tag Periode im AHV-Gebiet</xs:documentation>
			<xs:documentation xml:lang="fr">Période jour-jour dans le domaine de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Anfangstag" type="ns1:AHVDatumJMT_Type"/>
			<xs:element name="Endtag" type="ns1:AHVDatumJMT_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AHVPeriodeJBuch_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Buch periode (einziger Monat = 1-12, ganzes Jahr=13)</xs:documentation>
			<xs:documentation xml:lang="fr">Période type "comptable", dans le domaine de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Anfangstag" type="ns1:AHVDatumJMT_Type"/>
			<xs:element name="Endtag" type="ns1:AHVDatumJMT_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AHVDauerJ_Type">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AHVDauerM_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Dauer (Zahl Moate) im AHV-Gebiet</xs:documentation>
			<xs:documentation xml:lang="fr">Durée (en nombre de mois) dans le domaine de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AHVDauerJM_Type">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="BeitragsdauerVor1973_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Dauer einer Beitrag (vor 1973)</xs:documentation>
			<xs:documentation xml:lang="fr">Durée de cotisation (antérieure à 1973)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDauerJM_Type">
			<xs:maxInclusive value="25.00"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeitragsdauerAb1973_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Dauer einer Beitrag (ab 1973)</xs:documentation>
			<xs:documentation xml:lang="fr">Durée de cotisation (postérieure à 1973)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDauerJM_Type">
			<xs:maxInclusive value="44.00"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnrechnungVor1973FehlenderBeitragsmonate_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">(to be filled)</xs:documentation>
			<xs:documentation xml:lang="fr">(to be filled)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDauerM_Type">
			<xs:maxInclusive value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnrechnungAb1973Bis1978FehlenderBeitragsmonate_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">(to be filled)</xs:documentation>
			<xs:documentation xml:lang="fr">(to be filled)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDauerM_Type">
			<xs:maxInclusive value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeitragsjahreJahrgang_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Beitragsjahre /Jahrgang</xs:documentation>
			<xs:documentation xml:lang="fr">Années de cotisations / classe d'âge</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDauerJ_Type">
			<xs:maxInclusive value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeitragsdauerDurchschnittlichesJahreseinkommen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Beitragsdauer für das Durschnittliches Jahreseinkommen (zur Rentenberechnung)</xs:documentation>
			<xs:documentation xml:lang="fr">Durée de cotisation pour RAM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDauerJM_Type">
			<xs:maxInclusive value="45.00"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnzahlVorbezugsjahre_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Anzahl Rentenvorbezugsjahre</xs:documentation>
			<xs:documentation xml:lang="fr">Nombre d'années d'anticipation de la rente</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDauerJ_Type">
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Vorbezugsdatum_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Rentenvorbezugsdatum (JJJJ-MM)</xs:documentation>
			<xs:documentation xml:lang="fr">Date d'anticipation de la rente (AAAA-MM)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDatumJM_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Aufschubsdauer_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">RentenAufschubsdauer</xs:documentation>
			<xs:documentation xml:lang="fr">Durée de l'ajournement de rente (AAAA-MM)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns1:AHVDauerJM_Type">
			<xs:maxInclusive value="5.00"/>
			<xs:totalDigits value="3"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Abrufdatum_Type">
		<xs:restriction base="ns1:AHVDatumJM_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AnzahlTage3Stellig_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Anzahl Tage (3-stellig)</xs:documentation>
			<xs:documentation xml:lang="fr">Nombre de jours (3 positions)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDatentraegerstyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Entête de lot -->
	<xs:complexType name="PoolKopf_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">code application 01</xs:documentation>
			<xs:documentation xml:lang="de">Anwendungsgebiet 01</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sender" type="xs:string"/>
			<xs:element name="KasseZweigstelle" type="ns1:IrgendeineZweigstelle_weakType" minOccurs="0"/>
			<xs:element name="Datentraegerstyp" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ns1:TDatentraegerstyp">
							<xs:attribute name="poolscode" type="xs:boolean" use="optional" default="true"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Erstellungsdatum" type="ns1:AHVDatumJMT_Type"/>
			<xs:element name="Test" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Pied de lot -->
	<xs:complexType name="PoolFuss_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">code application 99</xs:documentation>
			<xs:documentation xml:lang="de">Anwendungsgebiet 99</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Eintragungengesamtzahl" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TCodeADS">
		<xs:annotation>
			<xs:documentation>Code ADS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="[ADS]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="KontrollMeldung_Type">
		<xs:annotation>
			<xs:documentation>Code application 39</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ListeFolgerecordNr" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FolgerecordNr" type="ns1:FolgerecordNr_Type" nillable="true" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VorzeichenCode" type="ns1:SchluesselzahlStornoeintrag_Type"/>
			<xs:element name="TotalEinkommen" type="xs:unsignedInt"/>
			<xs:element name="AnzahlIKEintragung" type="xs:unsignedShort"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IKMeldung_Type">
		<xs:annotation>
			<xs:documentation>Paquet codes application 38 + 39: transmission du CI</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Auftrag">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KasseZweigstelleAuftraggebend" type="ns1:IrgendeineZweigstelle_weakType"/>
						<xs:element name="KasseneigenerHinweisAuftragsAK" type="ns1:KasseneigenerHinweis_Type"/>
						<xs:element name="MZRSchluesselzahl" type="ns1:MZRSchluesselzahl_weakType" nillable="true"/>
						<xs:choice minOccurs="0">
							<xs:element name="ZIK">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LeistungsberechtigtePerson">
											<xs:annotation>
												<xs:documentation>Ayant droit</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Versichertennummer" type="ns1:Versichertennummer11oder13Stellen_Type"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Abschlussdatum" type="ns1:AHVDatumJM_Type"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="IKKopieAuszug">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="temporaer" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LeistungsberechtigtePerson">
														<xs:annotation>
															<xs:documentation>Ayant droit</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Versichertennummer" type="ns1:Versichertennummer11oder13Stellen_Type"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Splitting">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VNrEhepartner" type="ns1:Versichertennummer11oder13Stellen_Type"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="Auftragsdatum" type="ns1:AHVDatumJMT_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IKKopf">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KasseZweigstelleIKFuehrend" type="ns1:IrgendeineZweigstelle_weakType"/>
						<xs:element name="Versichertennummer" type="ns1:Versichertennummer8bis13Stellen_Type"/>
						<xs:element name="VersichertenAngaben" type="ns1:TVersicherteAngabenFakultativ_WeakName" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EintragungIKMeldung" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ns1:TEintragungIKMinDat">
							<xs:sequence>
								<xs:element name="CodeADS" nillable="true" minOccurs="0">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="ns1:TCodeADS"/>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Erwerbszweig" type="ns1:Erwerbszweig_Type" nillable="true" minOccurs="0"/>
								<xs:element name="Arbeitgeber" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Informationsteil">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="42"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ArbeitgebersPostleitzahl" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="PLZ" nillable="true" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PLZKomplementaer" nillable="true" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ZusatzInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NachtragsIK" type="xs:unsignedByte"/>
						<xs:element name="Splitting" type="xs:unsignedByte"/>
						<xs:element name="Uebermittlungsdatum" type="ns1:AHVDatumJMT_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KontrollMeldung" type="ns1:KontrollMeldung_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IKStatistikMeldung_Type">
		<xs:annotation>
			<xs:documentation>Paquet codes application 31 + 32 + 34: annonce des CI de l'année</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelleIKFuehrend" type="ns1:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Verarbeitungsjahr" type="ns1:AHVDatumJ_Type"/>
			<xs:element name="StandIKStatistikVorher" type="ns1:TStandIKStatistik">
				<xs:annotation>
					<xs:documentation>Code application 31</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aufzeichnungen" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Code aplication 32</xs:documentation>
						</xs:annotation>
						<xs:element name="IKKopf">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Versichertennummer" type="ns1:Versichertennummer11oder13StellenOderUnbekannt_Type" minOccurs="0"/>
									<xs:element name="AnzahlVersicherte" type="ns1:Short2stellig_Type" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="EintragungIKMeldung" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ns1:TEintragungIKMinDat">
										<xs:sequence>
											<xs:element name="Verarbeitungsjahr" type="ns1:AHVDatumJ_Type" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StandIKStatistikNacher">
				<xs:annotation>
					<xs:documentation>Code application 34</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ns1:TStandIKStatistik">
							<xs:sequence>
								<xs:element name="LetzteMeldung">
									<xs:annotation>
										<xs:documentation xml:lang="de">
                                            1 = Zwischenmeldung 2 = Letzte Meldung des Jahres
                                        </xs:documentation>
										<xs:documentation xml:lang="fr">
                                            1=Annonce intercalaire 2=Dernière annonce de l'année
                                        </xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:short">
											<xs:minInclusive value="1"/>
											<xs:maxInclusive value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TStandIKStatistik">
		<xs:annotation>
			<xs:documentation>Partie commune du code application 31 et 34</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VorzeichenCode" type="ns1:SchluesselzahlStornoeintrag_Type"/>
			<xs:element name="SummeEinkommen" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation>Total des revenus inscrits jusqu'ici</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEintragungIKMinDat">
		<xs:annotation>
			<xs:documentation>Partie commune du code application 32 et 38</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ListeFolgerecordNr" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FolgerecordNr" type="ns1:FolgerecordNr_Type" nillable="true" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AKAbrechnungsNr" type="ns1:AKAbrechnungsNr_Type" nillable="true"/>
			<xs:element name="SchluesselzahlStornoeintrag" type="ns1:SchluesselzahlStornoeintrag_Type" nillable="true"/>
			<xs:element name="SchluesselzahlBeitragsart" type="ns1:SchluesselzahlBeitragsart_Type" nillable="true"/>
			<xs:element name="BesondereSchluesselzahlIK" type="ns1:BesondereSchluesselzahlIK_Type" nillable="true" minOccurs="0"/>
			<xs:element name="BetreuungsgutschriftBruchteil" type="ns1:BetreuungsgutschriftBruchteil_Type" nillable="true" minOccurs="0"/>
			<xs:element name="SonderfallcodeIK" type="ns1:SonderfallcodeIK_Type" nillable="true" minOccurs="0"/>
			<xs:element name="Beitragsdauer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Anfangsmonat">
							<xs:simpleType>
								<xs:restriction base="xs:unsignedByte">
									<xs:maxInclusive value="99"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Endmonat">
							<xs:simpleType>
								<xs:restriction base="xs:unsignedByte">
									<xs:maxInclusive value="99"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Beitragsjahr" type="ns1:AHVDatumJ_Type"/>
			<xs:element name="Einkommen" type="ns1:BetragFR_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ALVEntschaedigungenMeldung_Type">
		<xs:annotation>
			<xs:documentation>
                Paquet codes application 31 + 32 + 34: Annonce des indemnités assurance-chômage pour l'inscription au CI
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelleIKFuehrend" type="ns1:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Verarbeitungsjahr" type="ns1:AHVDatumJ_Type"/>
			<xs:element name="Aufzeichnungen" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Code aplication 32</xs:documentation>
						</xs:annotation>
						<xs:element name="IKKopf">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Versichertennummer" type="ns1:Versichertennummer11oder13StellenOderUnbekannt_Type"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="EintragungIKMeldung" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ListeFolgerecordNr" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FolgerecordNr" type="ns1:FolgerecordNr_Type" nillable="true" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AKAbrechnungsNr" type="ns1:AKAbrechnungsNr_Type" nillable="true"/>
									<xs:element name="SchluesselzahlStornoeintrag" type="ns1:SchluesselzahlStornoeintrag_Type" nillable="true"/>
									<xs:element name="SchluesselzahlBeitragsart" type="ns1:SchluesselzahlBeitragsart_Type" nillable="true"/>
									<xs:element name="Beitragsdauer">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Anfangsmonat">
													<xs:simpleType>
														<xs:restriction base="xs:unsignedByte">
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Endmonat">
													<xs:simpleType>
														<xs:restriction base="xs:unsignedByte">
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Beitragsjahr" type="ns1:AHVDatumJ_Type"/>
									<xs:element name="Einkommen" type="ns1:BetragFR_Type"/>
									<xs:element name="Verarbeitungsjahr" type="ns1:AHVDatumJ_Type" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StandIKStatistikNacher">
				<xs:annotation>
					<xs:documentation>Code application 34</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VorzeichenCode" type="ns1:SchluesselzahlStornoeintrag_Type"/>
						<xs:element name="SummeEntschaedigungen" type="xs:unsignedLong">
							<xs:annotation>
								<xs:documentation>Total des revenus inscrits jusqu'ici</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PLZ_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Schweizerische PLZ</xs:documentation>
			<xs:documentation xml:lang="fr">Numéro postal d'acheminement suisse (4 positions numériques)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PLZ_Kompl_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Komplementäre schweizerische PLZ</xs:documentation>
			<xs:documentation xml:lang="fr">Numéro postal complémentaire d'acheminement suisse (2 positions numériques)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TVersicherteAngabenVoll">
		<xs:sequence>
			<xs:element name="Namen" type="ns1:NameVorname_Type" nillable="true"/>
			<xs:element name="Vornamen" type="ns1:NameVorname_Type" nillable="true"/>
			<xs:element name="Geschlecht" type="ns1:Geschlecht_numType" nillable="true"/>
			<xs:element name="Geburtsdatum" type="ns1:Geburtsdatum_Type" nillable="true"/>
			<xs:element name="Heimatstaat" type="ns1:LandNrBSV_weakType" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TVersicherteAngabenFakultativ">
		<xs:sequence>
			<xs:element name="Namen" type="ns1:NameVorname_Type" nillable="true" minOccurs="0"/>
			<xs:element name="Vornamen" type="ns1:NameVorname_Type" nillable="true" minOccurs="0"/>
			<xs:element name="Geschlecht" type="ns1:Geschlecht_numType" nillable="true" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="ns1:Geburtsdatum_Type" nillable="true" minOccurs="0"/>
			<xs:element name="Heimatstaat" type="ns1:LandNrBSV_weakType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TVersicherteAngabenFakultativ_WeakName">
		<xs:sequence>
			<xs:element name="Namen" type="ns1:NameVorname_WeakType" nillable="true" minOccurs="0"/>
			<xs:element name="Vornamen" type="ns1:NameVorname_WeakType" nillable="true" minOccurs="0"/>
			<xs:element name="Geschlecht" type="ns1:Geschlecht_numType" nillable="true" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="ns1:Geburtsdatum_Type" nillable="true" minOccurs="0"/>
			<xs:element name="Heimatstaat" type="ns1:LandNrBSV_weakType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TVersicherteAngabenSemiFakultativ">
		<xs:sequence>
			<xs:element name="Namen" type="ns1:NameVorname_Type" nillable="true"/>
			<xs:element name="Vornamen" type="ns1:NameVorname_Type" nillable="true"/>
			<xs:element name="Geschlecht" type="ns1:Geschlecht_numType" nillable="true" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="ns1:Geburtsdatum_Type" nillable="true" minOccurs="0"/>
			<xs:element name="Heimatstaat" type="ns1:LandNrBSV_weakType" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CHWohnsitzCode_Type">
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AKAbrechnungsNr_Type">
		<xs:annotation>
			<xs:documentation>Abrechnungsnummer eines AK-Mitgliedes</xs:documentation>
			<xs:documentation>Numéro d'affilié (d'un employeur auprès d'une caisse)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ns1:String11stellig_Type ns1:Versichertennummer13Stellen_Type"/>
	</xs:simpleType>
	<xs:complexType name="SplittingPeriode_Type">
		<xs:sequence>
			<xs:element name="BesondereSchluesselzahlSplitPer" type="ns1:BesondereSchluesselzahlSplitPer_Type" minOccurs="0"/>
			<xs:element name="Anfangsjahr" type="ns1:AHVDatumJ_Type"/>
			<xs:element name="Endjahr" type="ns1:AHVDatumJ_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="KasseneigenerHinweis_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdMeldung_Type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Erwerbszweig_Type">
		<xs:annotation>
			<xs:documentation xml:lang="de">Erwerbszweig</xs:documentation>
			<xs:documentation>Code de branche économique</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MZRSchluesselzahl_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">MZR : Code zur Grund der Meldung</xs:documentation>
			<xs:documentation xml:lang="fr">Code ARC (=motif annonce)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="11"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="67"/>
			<xs:enumeration value="71"/>
			<xs:enumeration value="73"/>
			<xs:enumeration value="75"/>
			<xs:enumeration value="77"/>
			<xs:enumeration value="79"/>
			<xs:enumeration value="81"/>
			<xs:enumeration value="83"/>
			<xs:enumeration value="84"/>
			<xs:enumeration value="85"/>
			<xs:enumeration value="86"/>
			<xs:enumeration value="91"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="93"/>
			<xs:enumeration value="94"/>
			<xs:enumeration value="95"/>
			<xs:enumeration value="96"/>
			<xs:enumeration value="97"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MZRSchluesselzahl_weakType">
		<xs:annotation>
			<xs:documentation xml:lang="de">MZR : Code zur Grund der Meldung (default)</xs:documentation>
			<xs:documentation xml:lang="fr">Code ARC (=motif annonce) (défaut)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="00"/>
			<xs:maxInclusive value="99"/>
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
