data/schemas/SM-Client-Atos/xsd_xslt/ZAS-2075-000101/1/zas-POOL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2022 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.zas.admin.ch/POOL" xmlns:rc="http://www.zas.admin.ch/RC" targetNamespace="http://www.zas.admin.ch/POOL" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xs:import namespace="http://www.zas.admin.ch/RC" schemaLocation="zas-RC.xsd"/>
	<!-- Import de schémas -->
	<!-- Définition élément root -->
	<xs:complexType name="PoolMeldungZurZASType">
		<xs:annotation>
			<xs:documentation>Pool d'annonces en entrée entourées par une entete et une fin.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="lot" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PoolKopf"/>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<!-- Annonces RA -->
							<xs:element name="IKMeldung" type="rc:IKMeldung_Type"/>
						</xs:choice>
						<xs:element name="PoolFuss" type="rc:PoolFuss_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PoolMeldungZurZAS" type="PoolMeldungZurZASType"/>
</xs:schema>
