data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-2015-000501/1/eahv-iv-2015-000501-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4"
	xmlns:eahv-iv-2015-000501="http://www.eahv-iv.ch/xmlns/eahv-iv-2015-000501/1"
	targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-2015-000501/1"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Verarbeitungsprotokoll</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4" />
	
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von eahv-iv-common:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType" />
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="2015"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000501">
							<xs:annotation>
								<xs:documentation xml:lang="de">Verarbeitungsprotokoll</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:actionType">
						<xs:maxLength value="2"/>
						<xs:minLength value="1"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="10"/>
						<xs:enumeration value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="eahv-iv-2015-000501:attachmentType" maxOccurs="unbounded"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:responseExpectedType">
						<xs:pattern value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="attachmentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Hilfstyp zur Beschreibung von Message Attachments. Abgeleitet von eahv-iv-common:attachmentType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="eahv-iv-2015-000501:attachmentTitleType"/>
			<!-- documentDate is not in the specs but we decided to add it, with minOccurs=0 -->
			<xs:element name="documentDate" type="eahv-iv-2015-000501:documentDateType" minOccurs="0"/>
			<xs:element name="leadingDocument">
				<xs:simpleType>
					<xs:restriction base="eahv-iv-2015-000501:leadingDocumentType">
						<xs:pattern value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sortOrder">
				<xs:simpleType>
					<xs:restriction base="eahv-iv-2015-000501:sortOrderType">
						<xs:enumeration value="001"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="documentFormat">
				<xs:simpleType>
					<xs:restriction base="eahv-iv-2015-000501:documentFormatType">
						<xs:enumeration value="application/pdf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="documentType" type="eahv-iv-2015-000501:documentTypeType" minOccurs="0"/>
			<xs:element name="file" type="eahv-iv-2015-000501:attachmentFileType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="attachmentTitleType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
			<!-- This needs to be discussed; it's a bit weird to restrict the file name
			<xs:enumeration value="Mat_Decline"/>
			<xs:enumeration value="Mat_Confirm"/>
			<xs:enumeration value="Ser_Confirm"/>
			<xs:enumeration value="Mat_Err"/>
			<xs:enumeration value="Ser_Err"/>
			<xs:enumeration value="Mat_Reminder"/>
			<xs:enumeration value="Ser_Reminder"/>
			<xs:enumeration value="Mat_UPI"/>
			<xs:enumeration value="Ser_UPI"/>
			<xs:enumeration value="8A-8F"/> -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="documentDateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
	<xs:simpleType name="leadingDocumentType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
	<xs:simpleType name="sortOrderType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	
	<xs:simpleType name="documentFormatType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	
	<xs:complexType name="attachmentFileType">
		<xs:sequence>
			<xs:element name="pathFileName" type="eahv-iv-2015-000501:pathFileNameType"/>
			<xs:element name="internalSortOrder" type="eahv-iv-2015-000501:sortOrderType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="pathFileNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="250"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="documentTypeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="000101">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maternity decline</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000201">
				<xs:annotation>
					<xs:documentation xml:lang="en">Service decline</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000102">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maternity confirm</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000202">
				<xs:annotation>
					<xs:documentation xml:lang="en">Service confirm</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000103">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maternity error</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000203">
				<xs:annotation>
					<xs:documentation xml:lang="en">Service error</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000104">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maternity reminder</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000204">
				<xs:annotation>
					<xs:documentation xml:lang="en">Service reminder</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000105">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maternity UPI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000205">
				<xs:annotation>
					<xs:documentation xml:lang="en">Service UPI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="000301">
				<xs:annotation>
					<xs:documentation xml:lang="en">8A-8F</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="eahv-iv-2015-000501:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"></xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="eahv-iv-2015-000501:headerType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
