data/schemas/SM-Client-Atos/xsd_xslt/ssk-3991-000001/1/ssk-3991-000001-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/3" xmlns:ssk-common="http://www.steuerkonferenz.ch/xmlns/ssk-common/1" xmlns:ssk-3991-000001="http://www.steuerkonferenz.ch/xmlns/ssk-3991-000001/1" targetNamespace="http://www.steuerkonferenz.ch/xmlns/ssk-3991-000001/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
    <xs:annotation>
        <xs:documentation xml:lang="de">SSK Monitoring Meldung</xs:documentation>
        <xs:documentation xml:lang="fr">Message de monitoring SSK</xs:documentation>
    </xs:annotation>
    <!-- based on 3999 -->
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/3"/>
    <xs:import namespace="http://www.steuerkonferenz.ch/xmlns/ssk-common/1"/>
    <xs:complexType name="headerType">
        <xs:sequence>
            <xs:element name="senderId" type="eCH-0058:participantIdType"/>
            <xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="declarationLocalReference" type="ssk-common:declarationLocalReferenceType"/>
            <xs:element name="recipientId" type="eCH-0058:participantIdType"/>
            <xs:element name="messageId" type="eCH-0058:messageIdType"/>
            <xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="yourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="messageType">
                <xs:simpleType>
                    <xs:restriction base="eCH-0058:messageTypeType">
                        <xs:enumeration value="3991"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="subMessageType">
                <xs:simpleType>
                    <xs:restriction base="eCH-0058:subMessageTypeType">
                        <xs:enumeration value="000001"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
            <!-- this type is breaking the validation for no reason, and only eahv-iv messages have this type, probably ssk-common is the problem
            <xs:element name="partialDelivery" minOccurs="0" maxOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="uniqueIDBusinessCase" type="eCH-0058:uniqueIDBusinessCaseType"/>
						<xs:element name="totalNumberOfPackages" type="eCH-0058:totalNumberOfPackagesType"/>
						<xs:element name="numberOfActualPackage" type="eCH-0058:numberOfActualPackageType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
            <xs:element name="subject" type="eCH-0058:subjectType"/>
            <xs:element name="object" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="messageDate" type="xs:dateTime"/>
            <xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="modificationDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
            <xs:element name="action">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2"/>
                        <xs:enumeration value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="attachment" type="ssk-common:attachmentType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType" />
            <xs:element name="testData" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="extension" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="messagePriority" type="xs:integer" minOccurs="0" maxOccurs="0"/>
            <xs:element name="eventPeriod" type="xs:gYear" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="header">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ssk-3991-000001:headerType">
                    <xs:attribute name="minorVersion" type="xs:integer" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" type="ssk-3991-000001:headerType"/>
            </xs:sequence>
            <xs:attribute name="minorVersion" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
