data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-2991-000002/1/eahv-iv-2991-000002-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:eahv-iv-2991-000002="http://www.eahv-iv.ch/xmlns/eahv-iv-2991-000002/1" xmlns:eahv-iv-common="http://www.eahv-iv.ch/xmlns/eahv-iv-common/3" targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-2991-000002/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
    <xs:annotation>
        <xs:documentation xml:lang="de">BSV Monitoring Meldung</xs:documentation>
        <xs:documentation xml:lang="fr">Message de monitoring BSV</xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
    <xs:import namespace="http://www.eahv-iv.ch/xmlns/eahv-iv-common/3"/>
    <!-- based on 2021 000101 -->
    <xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="declarationLocalReference" type="eahv-iv-common:declarationLocalReferenceType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType"/>
			<xs:element name="ourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="2991"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000002"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<!-- this type is breaking the validation for no reason, and only eahv-iv messages have this type, probably eahv-iv-common is the problem
            <xs:element name="partialDelivery" minOccurs="0" maxOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="uniqueIDBusinessCase" type="eCH-0058:uniqueIDBusinessCaseType"/>
						<xs:element name="totalNumberOfPackages" type="eCH-0058:totalNumberOfPackagesType"/>
						<xs:element name="numberOfActualPackage" type="eCH-0058:numberOfActualPackageType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element> -->
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="object" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="xs:dateTime"/>
			<xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="eahv-iv-common:attachmentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="testData" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messagePriority" type="xs:integer" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventPeriod" type="xs:gYear" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:sequence>
			<xs:element name="userInfo">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information send to the smc-monitoring platform as JSON enclosed in CDATA section</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="eahv-iv-2991-000002:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="eahv-iv-2991-000002:headerType"/>
				<xs:element name="content" type="eahv-iv-2991-000002:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
