data/schemas/SM-Client-Atos/xsd_xslt/ssk-3302-000002/1/ssk-3302-000002-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Lars Steffen (AWK Group AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044-f/4" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/1" xmlns:ssk-common="http://www.steuerkonferenz.ch/xmlns/ssk-common/2" xmlns:ssk-3302-000002="http://www.steuerkonferenz.ch/xmlns/ssk-3302-000002/1" targetNamespace="http://www.steuerkonferenz.ch/xmlns/ssk-3302-000002/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Rückmeldung Quellensteuerabrechnung gemäss Bundesgesetz gegen die Schwarzarbeit (Rückmeldung QST BGSA)</xs:documentation>
		<xs:documentation xml:lang="fr">Réponse à la décompte de l’impôt à la source selon la loi fédérale concernant des mesures en matière de lutte contre le travail au noir (Réponse IS LTN)</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044-f/4"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097/1"/>
	<xs:import namespace="http://www.steuerkonferenz.ch/xmlns/ssk-common/2"/>
	<xs:complexType name="detailsAKType">
		<xs:sequence>
			<xs:element name="uid" type="eCH-0097:uidStructureType"/>
			<xs:element name="ssl">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="settlementBGSAType">
		<xs:sequence>
			<xs:element name="taxpayer" type="ssk-common:naturalPersonsTaxType"/>
			<xs:element name="employer" type="ssk-3302-000002:employerType"/>
			<xs:element name="employmentPeriodStart" type="xs:date"/>
			<xs:element name="employmentPeriodEnd" type="xs:date"/>
			<xs:element name="taxableIncome">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="withholdingTaxAmount">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="responseBGSAType">
		<xs:sequence>
			<xs:element name="settlementBGSA" type="ssk-3302-000002:settlementBGSAType"/>
			<xs:element name="responseReason">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Falscher Empfänger</xs:documentation>
								<xs:documentation xml:lang="fr">destinataire eronné</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="99">
							<xs:annotation>
								<xs:documentation xml:lang="de">Anderer Grund</xs:documentation>
								<xs:documentation xml:lang="fr">autre raison</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von ssk-common:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
			<!-- keep minOccurs="0" and maxOccurs="0" for the purpose of tracability-->
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessProcessId" type="eCH-0058:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="3302"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000002"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:actionType">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" fixed="false"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" fixed="true"/>
			<xs:element name="extension" type="ssk-3302-000002:extensionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extensionType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Attribute, welche im eCH-0058/4-Standard nicht vorgesehen sind, werden im Attribut „extension" geführt.</xs:documentation>
			<xs:documentation xml:lang="fr">Les éléments qui ne sont pas prévus dans le standard eCH-0058/4 sont définis dans l'élément 'extension'</xs:documentation>
			<xs:documentation xml:lang="it">Gli elementi che non sono incluse nello standard eCH-0058/4 sono definiti in 'estensione' l'elemento</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactInformation" type="ssk-common:contactInformationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:sequence>
			<xs:element name="responseBGSA" type="ssk-3302-000002:responseBGSAType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="ssk-3302-000002:headerType"/>
				<xs:element name="content" type="ssk-3302-000002:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="employerType">
		<xs:sequence>
			<xs:element name="employerName">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>checksum.groovy</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
