data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-2011-000101/2/eahv-iv-2011-000101-2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/2"
	xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/3"
	xmlns:eahv-iv-common="http://www.eahv-iv.ch/xmlns/eahv-iv-common/1"
	xmlns:eahv-iv-2011-000101="http://www.eahv-iv.ch/xmlns/eahv-iv-2011-000101/2"
	targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-2011-000101/2"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Bestellung</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/2" />
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/3" />
	<xs:import namespace="http://www.eahv-iv.ch/xmlns/eahv-iv-common/1" />
	
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von eahv-iv-common:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
			<xs:element name="declarationLocalReference" type="eahv-iv-common:declarationLocalReferenceType" minOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="ourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="2011"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="object" type="eahv-iv-common:naturalPersonsTaxReturnsOASIType"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0"/>
			<xs:element name="messageDate" type="xs:dateTime"/>
			<xs:element name="initialMessageDate" type="eCH-0058:initialMessageDateType" minOccurs="0"/>
			<xs:element name="eventDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="10"/>
						<xs:enumeration value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachment" type="eahv-iv-common:attachmentType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="testData" type="xs:anyType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
			<xs:element name="messagePriority" type="eahv-iv-common:messagePriorityType"/>
			<xs:element name="eventPeriod" type="xs:gYear"/>
			<xs:element name="postalAddress" type="eCH-0010:organisationMailAddressType"/>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Attribute der Nachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderScope">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						Bestellungsumfang
						Angabe der bestellten Daten:
						 1  = SE, selbständig erwerbend inkl. Basisdaten
						 2  = NE, nichterwerbstätig inkl. Basisdaten
						 4  = ANOBAG, Arbeitnehmer ohne beitragspflichti-
						        gen Arbeitgeber inkl. Basisdaten
						 8  = optionale Geschäftsdaten;
						16 = optionale Privatdaten
						
						Die Inhalte können durch Addition kombiniert werden. Die optionalen Daten sind jeweils zu verlangen und werden nicht automatisch geliefert.
						Beispiel:
						Bestellungsumfang = 19: 1 + 2 + 16; es sind also die SE-Basisdaten, NE-Basisdaten und die optiona-len Privatdaten zu liefern
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="9"/>
						<xs:enumeration value="11"/>
						<xs:enumeration value="13"/>
						<xs:enumeration value="14"/>
						<xs:enumeration value="15"/>
						<xs:enumeration value="18"/>
						<xs:enumeration value="19"/>
						<xs:enumeration value="21"/>
						<xs:enumeration value="22"/>
						<xs:enumeration value="23"/>
						<xs:enumeration value="25"/>
						<xs:enumeration value="26"/>
						<xs:enumeration value="27"/>
						<xs:enumeration value="29"/>
						<xs:enumeration value="30"/>
						<xs:enumeration value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="taxpayer" type="eahv-iv-common:naturalPersonsTaxReturnsOASIType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Personalien der Steuerpflichtigen Person. Bei Ehepaaren der Mann</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spouse" type="eahv-iv-common:naturalPersonsTaxReturnsOASIType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Personalien des Ehepartners. Bei Ehepaaren die Frau. Bei ledigen Personen leer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="eahv-iv-2011-000101:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"></xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="eahv-iv-2011-000101:headerType"/>
				<xs:element name="content" type="eahv-iv-2011-000101:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
