data/schemas/eCH-0098/eCH-0098-8-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/6"
	xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/3"
	xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/8"
	xmlns:eCH-0098="http://www.ech.ch/xmlns/eCH-0098/8"
	xmlns:eCH-0108="http://www.ech.ch/xmlns/eCH-0108/7"
	targetNamespace="http://www.ech.ch/xmlns/eCH-0098/8"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="8.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Ausgabedatum: 30.01.2025 </xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/6/eCH-0007-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0008/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0008/3/eCH-0008-3-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/8" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/8/eCH-0010-8-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0108/7" schemaLocation="http://www.ech.ch/xmlns/eCH-0108/7/eCH-0108-7-0.xsd"/>
	<xs:simpleType name="organisationIdCategoryType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="organisationIdRegistrationAuthorityNameType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="organisationIdRegistrationAuthorityType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="namedOrganisationIdType">
		<xs:sequence>
			<xs:element name="organisationIdCategory">
				<xs:simpleType>
					<xs:restriction base="eCH-0098:organisationIdCategoryType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="organisationId">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="36"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="otherIdType">
		<xs:complexContent>
			<xs:extension base="eCH-0098:namedOrganisationIdType">
				<xs:sequence minOccurs="0">
					<xs:element name="organisationIdRegistrationAuthorityName"
						type="eCH-0098:organisationIdRegistrationAuthorityNameType" minOccurs="0"/>
					<xs:element name="organisationIdRegistrationAuthority"
						type="eCH-0098:organisationIdRegistrationAuthorityType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="otherId" type="eCH-0098:otherIdType"/>
	<xs:complexType name="organisationIdentificationType">
		<xs:sequence>
			<xs:element name="uid" type="eCH-0108:uidType" minOccurs="0"/>
			<xs:element name="localSenderId" type="eCH-0098:localSenderIdType" minOccurs="0"/>
			<xs:element name="otherId" type="eCH-0098:otherIdType" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="organisationName" type="eCH-0108:unitNameType"/>
			<xs:element name="organisationAdditionalName" type="eCH-0108:unitNameType" minOccurs="0"/>
			<xs:element name="legalForm" type="eCH-0108:legalFormType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="organisationIdentification" type="eCH-0098:organisationIdentificationType"/>
	<xs:simpleType name="localSenderIdType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="localSenderID" type="eCH-0098:localSenderIdType"/>
	<xs:simpleType name="phoneNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d{10,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="languageType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="datePartiallyKnownType">
		<xs:choice>
			<xs:element name="yearMonthDay" type="xs:date"/>
			<xs:element name="yearMonth" type="xs:gYearMonth"/>
			<xs:element name="year" type="xs:gYear"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="foundationType">
		<xs:sequence>
			<xs:element name="foundationDate" type="eCH-0098:datePartiallyKnownType" minOccurs="0"/>
			<xs:element name="foundationReason" type="eCH-0098:foundationReasonType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="foundationReasonType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="liquidationType">
		<xs:sequence>
			<xs:element name="liquidationDate" type="eCH-0098:datePartiallyKnownType" minOccurs="0"/>
			<xs:element name="liquidationStartDate" type="eCH-0098:datePartiallyKnownType"
				minOccurs="0"/>
			<xs:element name="liquidationReason" type="eCH-0098:liquidationReasonType" minOccurs="0"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="liquidationReasonType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unknownType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="destinationType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="unknown" type="eCH-0098:unknownType"/>
				<xs:element name="swissTown" type="eCH-0007:swissMunicipalityType"/>
				<xs:element name="foreignCountry">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="country" type="eCH-0008:countryType"/>
							<xs:element name="town" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:whiteSpace value="collapse"/>
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="mailAddress" type="eCH-0010:addressInformationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mainResidenceType">
		<xs:sequence>
			<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType"/>
			<xs:element name="arrivalDate" type="xs:date"/>
			<xs:element name="comesFrom" type="eCH-0098:destinationType" minOccurs="0"/>
			<xs:element name="movingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
			<xs:element name="goesTo" type="eCH-0098:destinationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="secondaryResidenceType">
		<xs:sequence>
			<xs:element name="swissHeadquarter" type="eCH-0098:swissHeadquarterType" minOccurs="0"/>
			<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType"/>
			<xs:element name="arrivalDate" type="xs:date"/>
			<xs:element name="comesFrom" type="eCH-0098:destinationType" minOccurs="0"/>
			<xs:element name="movingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
			<xs:element name="goesTo" type="eCH-0098:destinationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="otherResidenceType">
		<xs:sequence>
			<xs:element name="foreignHeadquarter" type="eCH-0098:foreignHeadquarterType"
				minOccurs="0"/>
			<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType"/>
			<xs:element name="arrivalDate" type="xs:date"/>
			<xs:element name="comesFrom" type="eCH-0098:destinationType" minOccurs="0"/>
			<xs:element name="movingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
			<xs:element name="goesTo" type="eCH-0098:destinationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="swissHeadquarterType">
		<xs:sequence>
			<xs:element name="uid" type="eCH-0108:uidType" minOccurs="0"/>
			<xs:element name="headquarterMunicipality" type="eCH-0007:swissMunicipalityType"
				minOccurs="0"/>
			<xs:element name="mainAddress" type="eCH-0108:mainAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="foreignHeadquarterType">
		<xs:sequence>
			<xs:element name="businessAddress" type="eCH-0010:mailAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationType">
		<xs:sequence>
			<xs:element name="organisationIdentification" type="eCH-0098:organisationIdentificationType"/>
			<xs:element name="mainUid" type="eCH-0108:uidType" minOccurs="0"/>
			<xs:element name="name" type="eCH-0108:unitNameType" minOccurs="1"/>
			<xs:element name="additionalName" type="eCH-0108:unitNameType" minOccurs="0"/>
			<xs:element name="translatedName" type="eCH-0108:unitNameType" minOccurs="0"/>
			<xs:element name="status" type="eCH-0108:unitStatusType" minOccurs="0"/>
			<xs:element name="statusDate" type="xs:date" minOccurs="0"/>
			<xs:element name="activityDescription" type="eCH-0108:activityDescriptionType"
				minOccurs="0"/>
			<xs:element name="nogaCode" type="eCH-0108:nogaCodeType" minOccurs="0"/>
			<xs:element name="nogaVersion" type="eCH-0108:nogaVersionType" minOccurs="0"/>
			<xs:element name="mainAddress" type="eCH-0108:mainAddressType"/>
			<xs:element name="additionalLocationAddress"
				type="eCH-0108:additionalLocationAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="additionalPostOfficeBoxAddress"
				type="eCH-0108:additionalPostOfficeBoxAddressType" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="emailAddress" type="eCH-0108:emailType" minOccurs="0"/>
			<xs:element name="website" type="eCH-0108:websiteType" minOccurs="0"/>
			<xs:element name="phoneNumber" type="eCH-0098:phoneNumberType" minOccurs="0"/>
			<xs:element name="foundation" type="eCH-0098:foundationType" minOccurs="0"/>
			<xs:element name="liquidation" type="eCH-0098:liquidationType" minOccurs="0"/>
			<xs:element name="languageOfCorrespondance" type="eCH-0098:languageType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="uidBrancheTextType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="500"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="organisation" type="eCH-0098:organisationType"/>
	<xs:complexType name="reportedOrganisationType">
		<xs:sequence>
			<xs:element name="organisation" type="eCH-0098:organisationType"/>
			<xs:choice>
				<xs:element name="hasMainResidence" type="eCH-0098:mainResidenceType"/>
				<xs:element name="hasSecondaryResidence" type="eCH-0098:secondaryResidenceType"/>
				<xs:element name="hasOtherResidence" type="eCH-0098:otherResidenceType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="reportedOrganisation" type="eCH-0098:reportedOrganisationType"/>
</xs:schema>
