data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-2991-000001/1/eahv-iv-2991-000001-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:eahv-iv-2991-000001="http://www.eahv-iv.ch/xmlns/eahv-iv-2991-000001/1" xmlns:eahv-iv-common="http://www.eahv-iv.ch/xmlns/eahv-iv-common/3" targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-2991-000001/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
    <xs:annotation>
        <xs:documentation xml:lang="de">BSV Monitoring Meldung</xs:documentation>
        <xs:documentation xml:lang="fr">Message de monitoring BSV</xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
    <xs:import namespace="http://www.eahv-iv.ch/xmlns/eahv-iv-common/3"/>
    <!-- based on 2021 000101 -->
    <xs:complexType name="headerType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
				Beschreibung des Message Headers. Abgeleitet von eahv-iv-common:headerType
			</xs:documentation>
            <xs:documentation xml:lang="fr">
				Description du header du message. Inspiré de eahv-iv-common:headerType
			</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="senderId" type="eCH-0058:participantIdType"/>
            <xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="declarationLocalReference" type="eahv-iv-common:declarationLocalReferenceType"/>
            <xs:element name="recipientId" type="eCH-0058:participantIdType"/>
            <xs:element name="messageId" type="eCH-0058:messageIdType"/>
            <xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="businessProcessId" type="eCH-0058:businessProcessIdType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="messageType">
                <xs:simpleType>
                    <xs:restriction base="eCH-0058:messageTypeType">
                        <xs:enumeration value="2991"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="subMessageType">
                <xs:simpleType>
                    <xs:restriction base="eCH-0058:subMessageTypeType">
                        <xs:enumeration value="000001"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
            <xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="subject" type="eCH-0058:subjectType"/>
            <xs:element name="comment" type="eCH-0058:commentType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="messageDate" type="eCH-0058:messageDateType"/>
            <xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="action">
                <xs:simpleType>
                    <xs:restriction base="eCH-0058:actionType">
                        <xs:enumeration value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="attachment" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
            <xs:element name="responseExpected">
                <xs:simpleType>
                    <xs:restriction base="eCH-0058:responseExpectedType">
                        <xs:pattern value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="businessCaseClosed">
                <xs:simpleType>
                    <xs:restriction base="eCH-0058:businessCaseClosedType">
                        <xs:pattern value="true"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="extension" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="message">
        <xs:annotation>
            <xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
            <xs:documentation xml:lang="fr">Déclaration de l'élément root pour message.xml</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" type="eahv-iv-2991-000001:headerType"/>
            </xs:sequence>
            <xs:attribute name="minorVersion" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
