data/schemas/SM-Client-Atos/xsd_xslt/eahv-iv-2021-000102/1/eahv-iv-2021-000102-1-0.xsd

<xs:schema xmlns:eCH-0039="http://www.ech.ch/xmlns/eCH-0039/2" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:eahv-iv-common="http://www.eahv-iv.ch/xmlns/eahv-iv-common/3" xmlns:eahv-iv-2021-000102="http://www.eahv-iv.ch/xmlns/eahv-iv-2021-000102/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-2021-000102/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.0">
	<xs:annotation>
		<xs:documentation>Abtretung AK-Dossier</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0039/2" schemaLocation="../../eCH-0039/2/eCH-0039-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4" schemaLocation="../../eCH-0058/4/eCH-0058-4-0.xsd"/>
	<xs:import namespace="http://www.eahv-iv.ch/xmlns/eahv-iv-common/3" schemaLocation="../../eahv-iv-common/3/eahv-iv-common-3-0.xsd"/>
	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="originalSenderId" type="eCH-0058:participantIdType" minOccurs="0"/>
			<xs:element name="declarationLocalReference" type="eCH-0058:declarationLocalReferenceType" minOccurs="0"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType" minOccurs="0"/>
			<xs:element name="businessProcessId" type="eCH-0058:businessProcessIdType"/>
			<xs:element name="ourBusinessReferenceId" type="eCH-0058:businessReferenceIdType"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="uniqueIdBusinessTransaction" type="eCH-0058:uniqueIdBusinessTransactionType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="messageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:messageTypeType">
						<xs:enumeration value="2021"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subMessageType">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:subMessageTypeType">
						<xs:enumeration value="000102"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="partialDelivery" type="eCH-0058:partialDeliveryType" minOccurs="0"/>
			<xs:element name="subject" type="eCH-0058:subjectType"/>
			<xs:element name="comment" type="eCH-0058:commentType" minOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType"/>
			<xs:element name="initialMessageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="eventDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="modificationDate" type="eCH-0058:eventDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:actionType">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Neu</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="6">
							<xs:annotation>
								<xs:documentation xml:lang="de">Antwort</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="extension" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="messageGroup" type="eahv-iv-2021-000102:messageGroupType"/>
						<xs:element name="object" type="eahv-iv-common:naturalPersonsOASIDIType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="messageGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Nachrichtengruppe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="messageGroupId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:enumeration value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="messageTypeId" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dossierType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Dossier: Basiskomponente zur Abbildung von Dossiers und Subdossiers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uuid" type="xs:token" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">UUID: Universally Unique Identifier des Dossiers. Referenz des Objekts, nicht der Nachricht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="eCH-0039:dossierStatusType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="titles" type="eCH-0039:titlesType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
						<xs:documentation xml:lang="DE">Titel, Optionales Attribut: lang = DE / FR / IT / ...</xs:documentation>
					</xs:annotation>
				</xs:element>
			<xs:element name="document" type="eahv-iv-2021-000102:documentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Enthaltene Dokumente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classification" type="eCH-0039:classificationType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">
						Klassifizierungskategorie. Grad, indem das Dossier und die enthaltenen Unterlagen vor unberechtigter Einsicht geschützt
						werden müssen. Nicht vorgeschrieben, aber für Pool-interne Abtretungen zulässig.
						Vom eCH-0039 vorgeschlagene Werte-menge:
							- unclassified = nicht klassifiziert
							- confidential = vertraulich
							- secret = geheim
							- in_house = intern
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasPrivacyProtection" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Datenschutzstufe: Markierung, die angibt, ob das Dokument besonders Schützenswerte Personendaten oder Persönlichkeitsprofile gemäss Datenschutzrecht enthält.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="openToThePublicType" type="eCH-0039:openToThePublicType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Öffentlichkeitsstatus. Angabe, ob das Dossier schützenswerte Informationen enthält oder nicht. Wert muss „not_public“ sein.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caseReferenceLocalId" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Ordnungsmerkmal: Ordnungsmerkmal des Dossiers, welches durch den Absender vergeben wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="openingDate" type="xs:date" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Datum: Datum, an welchem das Dossier eröffnet / registriert wurde. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="keywords" type="eCH-0039:keywordsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Enthält ein oder mehrere Schlagwörter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comments" type="eCH-0039:commentsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Enthält einen oder mehrere Kommentare.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="links" type="eCH-0039:linksType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Enthält einen oder mehrere Verweise.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="eCH-0039:lang"/>
	</xs:complexType>
	<xs:complexType name="documentType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Dokument (Unterlage): Basiskomponente zur Abbildung der Metadaten von Dokumenten und Unterlagen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uuid" type="xs:token" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">UUID: Universally Unique Identifier des Dokuments. Referenz des Objekts, nicht der Nachricht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titles" type="eCH-0039:titlesType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Titel, Optionales Attribut: lang = DE / FR / IT / ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="eCH-0039:documentStatusType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">
						Zustand bzgl. Veränderbarkeit und Gültig-keit für Pool-interne Abtretungen. Zulässig:
							- Undefined
							- created
							- in_process
							- signed
							- approved
							- sent
							- canceled
							- invalidated
							- archived
							- preserved
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="files" type="eCH-0039:filesType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">
						Dateien, mindestens 1 mal:
							file {
								pathFileName: lokal/URL,
								mimeType: "application/pdf" oder "image/tif",
								optional: internalSortOrder,
								optional: version,
								optional: hashCode,
								optional: hashCodeAlgorithm
							}
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classification" type="eCH-0039:classificationType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Grad, indem das Dokument vor unberech-tigter Einsicht geschützt werden müssen. Nicht vorgeschrieben, aber für Pool-interne Abtretungen zulässig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="openToThePublic" type="eCH-0039:openToThePublicType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="hasPrivacyProtection" type="xs:boolean" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Datenschutzstufe: Markierung, die angibt, ob das Dokument besonders Schützenswerte Personendaten oder Persönlichkeitsprofile gemäss Datenschutzrecht enthält.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="openingDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Eröffnungsdatum: Tag, an dem das Dokument im GEVER-System einem Dossier zugeordnet worden ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="owner" type="xs:token" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Eigentümer: Name des Eigentümers des Dokuments.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="signer" type="xs:token" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Unterzeichner: Person, welche das Dokument unterzeichnet hat oder die Verantwortung dafür übernimmt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ourRecordReference" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Unser Aktenzeichen: Referenz auf das entsprechende Dossier des Absenders.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comments" type="eCH-0039:commentsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Enthält einen oder mehrere Kommentare.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="keywords" type="eCH-0039:keywordsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Enthält eine oder mehrere Schlagwörter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isLeadingDocument" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Hauptdokument: Angabe, ob es sich um das Hauptdokument (führendes Dokument) handelt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sortOrder" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Sortierfolge: Angabe zur Reihenfolge der Sortierung von Dokumenten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentKind" type="eahv-iv-2021-000102:documentKindType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Dokumenttyp: Fachliche Beschreibung des Dokuments (z.B. Vertrag, Antrag, Antwort. u.a).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="eCH-0039:lang"/>
	</xs:complexType>
	<xs:simpleType name="documentKindType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Dokumenttyp, fachliche Beschreibung des Dokuments. Strukturierter Typ, Format: /(02)(\.[0-9][0-9])*/</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(01)(\.[0-9][0-9])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="contentType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dossier" type="eahv-iv-2021-000102:dossierType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für header.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="eahv-iv-2021-000102:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:annotation>
			<xs:documentation xml:lang="de">Deklaration des Root-Elements für message.xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="eahv-iv-2021-000102:headerType"/>
				<xs:element name="content" type="eahv-iv-2021-000102:contentType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
