data/schemas/SM-Client-Atos/xsd_xslt/ssk-common/2/ssk-common-2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Lars Steffen (AWK Group AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007-f/5" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010-f/5" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011-f/7" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044-f/4" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/1" xmlns:ssk-common="http://www.steuerkonferenz.ch/xmlns/ssk-common/2" targetNamespace="http://www.steuerkonferenz.ch/xmlns/ssk-common/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">
			Basistypen für die Meldungen der Schweizerischen Steuerkonferenz.
			Dieses Schema enthält auch eine Vorlage für den Header von SSK Messages.
			Diese Vorlage muss für konkrete Implementierungen kopiert werden.
			Der Report Header und die Report Message ist ebenfalls hier definiert.
			Sie werden in der Regel nicht abgeleitet, können also direkt verwendet werden.
			Aus diesen Grund ist bereits ein reportHeader und ein eventReport definiert.
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007-f/5"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010-f/5"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011-f/7"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044-f/4"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097/1"/>
	<xs:simpleType name="vatNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Typdefinition Mehrwertsteuernummer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="dossierNumberFETType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Typdefinition ESTV Dossiernummer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="naturalPersonsTaxType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Natürliche Personen Steuern
				Erweitert eCH-0044:personIdentificationType and schränkt Particle Occurrences ein.
				Ausserdem werden die neuen Elemente "address" und "taxMunicipality" eingeführt.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>checksum.groovy</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="oldVn" type="ssk-common:oldVnType" minOccurs="0"/>
			<xs:element name="officialName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
			<xs:element name="address" type="eCH-0010:addressInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Postadresse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Steuergemeinde</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="oldVnType">
		<xs:restriction base="xs:unsignedLong">
			<xs:pattern value="[1-9][0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentKindType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9][0-9])+(\.[0-9][0-9])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="extendedNaturalPersonsTaxType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Natürliche Personen Steuern erweitert
				Erweiterung von ssk-ahv-0002:NPSteuern
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ssk-common:naturalPersonsTaxType">
				<xs:sequence>
					<xs:element name="religion" type="eCH-0011:religionType" minOccurs="0"/>
					<xs:element name="maritalStatus" type="eCH-0011:maritalStatusType" minOccurs="0"/>
					<xs:element name="dateOfMaritalStatus" type="xs:date" minOccurs="0"/>
					<xs:element name="nbrOfChildren" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="dateOfDeath" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="melapNaturalPersonsTaxType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Natürliche Personen Steuern Melap
				Erweitert eCH-0044:personIdentificationType and schränkt Particle Occurrences ein
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>checksum.groovy</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="oldVn" type="ssk-common:oldVnType" minOccurs="0"/>
			<xs:element name="officialName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Neu als Pflichtfeld</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Neu als Pflichtfeld</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType"/>
			<xs:element name="address" type="eCH-0010:addressInformationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Postadresse</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="naturalPersonsTaxReturnsOASIType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Natürliche Personen Steuermeldungen AHV
				Erweitert eCH-0044:personIdentificationType and schränkt Particle Occurrences ein
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>checksum.groovy</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="oldVn" type="ssk-common:oldVnType" minOccurs="0"/>
			<xs:element name="officialName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Neu als Pflichtfeld</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Neu als Pflichtfeld</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sex" type="eCH-0044:sexType"/>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType"/>
			<xs:element name="address" type="eCH-0010:addressInformationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Postadresse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maritalStatus" type="eCH-0011:maritalStatusType"/>
			<xs:element name="dateOfMaritalStatus" type="xs:date" minOccurs="0"/>
			<xs:element name="dateOfEntry" type="xs:date" minOccurs="0"/>
			<xs:element name="dateOfDeparture" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="legalEntitiesTaxType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Juristische Personen Steuern
				Ableitung vom (noch zu verabschiedenden) eCH-0097f Standard (organisationIdentificationType)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="otherOrganisationId" type="eCH-0097:namedOrganisationIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="organisationName" type="eCH-0097:organisationNameType"/>
			<xs:element name="legalForm" type="eCH-0097:legalFormType" minOccurs="0"/>
			<xs:element name="dateFounded" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
			<xs:element name="address" type="eCH-0010:addressInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Postadresse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Steuergemeinde</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="melapInsuranceType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Versicherung Melap
				Ableitung vom (noch zu verabschiedenden) eCH-0097f Standard (organisationIdentificationType)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="localOrganisationId" type="eCH-0097:namedOrganisationIdType"/>
			<xs:element name="otherOrganisationId" type="eCH-0097:namedOrganisationIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="organisationName" type="eCH-0097:organisationNameType"/>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="dateFounded" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
			<xs:element name="address" type="eCH-0010:addressInformationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Postadresse</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="melapCollectiveInsuredPartyType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Kollektivversicherungsteilnehmer Melap</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="address" type="eCH-0010:addressInformationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Postadresse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="directPayment">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nicht als Boolean ausgeführt, weil sonst auch false/true erlaubt wäre</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Nein</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Ja</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="realEstatePropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Grundstück/Liegenschaft</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="municipality" type="eCH-0007:swissMunicipalityType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gemeinde (aktuell BfS-Nummer, nach 2015 UID) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="landRegister" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="number" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="address" type="eCH-0010:addressInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Adresse </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeOfRealEstateProperty" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Art der Liegenschaft</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Einfamilienhaus</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Mehrfamilienhaus</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation xml:lang="de">Stockwerkeigentum</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation xml:lang="de">Gewerbe- und Industriegebäude</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation xml:lang="de">Landwirtschaft</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation xml:lang="de">Bauland</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="6">
							<xs:annotation>
								<xs:documentation xml:lang="de">Kulturland</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="7">
							<xs:annotation>
								<xs:documentation xml:lang="de">Waldland</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="90">
							<xs:annotation>
								<xs:documentation xml:lang="de">Weitere</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="yearOfConstruction" type="xs:gYear" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Baujahr, falls bekannt zwingend anzugeben</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="landSurfaceArea" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Fläche des Bodens in Quadratmetern</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Ableitung von eCH-0058:headerType.
				Dieser Typ kann nicht direkt benutzt werden. Er muss für jede Meldung abgeleitet werden
				und kann dann für die Meldung (für alle Meldungen bei Meldungsprozessen mit mehreren Meldungen),
				die Weiterleitung, das Rektifikat und den Widerruf benutzt werden.
				Typ sollte möglichst synchron gehalten werden mit eahv-iv-common:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType"/>
			<xs:element name="ourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0"/>
			<xs:element name="businessProcessId" type="eCH-0058:businessProcessIdType"/>
			<xs:element name="messageType" type="eCH-0058:messageTypeType"/>
			<xs:element name="subMessageType" type="eCH-0058:subMessageTypeType"/>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0"/>
			<xs:element name="messageDate" type="eCH-0058:messageDateType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="eCH-0058:actionType">
						<xs:maxLength value="2"/>
						<xs:enumeration value="8">
							<xs:annotation>
								<xs:documentation xml:lang="de">Fehlerreport / negativeReport</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="9">
							<xs:annotation>
								<xs:documentation xml:lang="de">Meldungsreport / positiveReport</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" default="false"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactInformationType">
		<xs:sequence>
			<xs:element name="name" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="department" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="phone" type="ssk-common:phoneNumberType"/>
			<xs:element name="email" type="ssk-common:emailAddressType"/>
			<xs:element name="other" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="infoType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Ableitung von eCH-0058:infoType. Dieser Typ kann nicht direkt benutzt werden. Er muss für jede Meldung abgeleitet werden und kann dann für die Meldung (für alle Meldungen bei Meldungsprozessen mit mehreren Meldungen), die Weiterleitung, das Rektifikat und den Widerruf benutzt werden. Typ sollte möglichst synchron gehalten werden mit eahv-iv-common:infoType
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="negativeReport">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="notice" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="code">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="5"/>
												<xs:maxLength value="5"/>
												<xs:pattern value="([EW][0-9]{4})|(0{5})"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="codeDescription" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="300"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="faultyField" minOccurs="0" maxOccurs="unbounded">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="comment" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="5000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="data" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="echoRequest" type="xs:anyType" minOccurs="0"/>
									<xs:element name="xsdVersion" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="additionalData" type="xs:anyType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="positiveReport">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="notice">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="code">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:length value="5"/>
												<xs:pattern value="(([W][0-9]{4})|(0{5}))"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="codeDescription" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="300"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="faultyField" minOccurs="0" maxOccurs="unbounded">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="comment" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="5000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="data" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="echoRequest" type="xs:anyType" minOccurs="0"/>
									<xs:element name="xsdVersion" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="additionalData" type="xs:anyType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="attachmentType">
		<xs:sequence>
			<xs:element name="title" type="ssk-common:attachmentTitleType"/>
			<xs:element name="documentDate" type="ssk-common:documentDateType"/>
			<xs:element name="leadingDocument" type="ssk-common:leadingDocumentType"/>
			<xs:element name="sortOrder" type="ssk-common:sortOrderType"/>
			<xs:element name="documentFormat" type="ssk-common:documentFormatType">
				<xs:annotation>
					<xs:documentation xml:lang="de">MIME-Typ des Dokuments. Erlaubte MIME-Typen müssen pro Message bestimmt werden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentType" type="ssk-common:documentKindType"/>
			<xs:element name="file" type="ssk-common:attachmentFileType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="attachmentTitleType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="attachmentFileType">
		<xs:sequence>
			<xs:element name="pathFileName" type="ssk-common:pathFileNameType"/>
			<xs:element name="internalSortOrder" type="ssk-common:sortOrderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="pathFileNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="250"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[A-Za-z0-9/_\-.]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="leadingDocumentType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="sortOrderType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="documentFormatType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="documentDateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<!-- 
		Fix vom 30.08.2013 (ab eahv-iv-common v.4.0)
		phoneNumberType und emailAddressType sind von eCH-0046 v.2.1 kopiert. Es gibt keine Referenzen zu eCH-0046 mehr.
		Grund dafür ist ein Referenz Problem zu lösen, da eCH-0046 v.2.1. nicht dieselbe Versionen von eCH-0010 und eCH-0044 wie eahv-iv-common v.4.0 verwendet.
	-->
	<xs:simpleType name="phoneNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d{10,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="emailAddressType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-zäöüÄÖÜ0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eventReport">
		<xs:annotation>
			<xs:documentation xml:lang="de">Root element für Message von Protokollquittungen und fachlichen Rückmeldungen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="ssk-common:headerType"/>
				<xs:element name="info" type="ssk-common:infoType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Root element für Header von Protokollquittungen und fachlichen Rückmeldungen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ssk-common:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="info" type="ssk-common:infoType"/>
</xs:schema>
